<div
  id="footer"
  class="d-flex flex-column flex-md-row align-items-center justify-content-around"
>
  <div class="col-10 col-md-4 mb-2 mb-md-0">
    <span class="report-total">
      Mostrando de {{ paginacaoInput().primeiroItemPagina }} até
      {{ paginacaoInput().ultimoItemPagina }} registros de
      {{ paginacaoInput().totalRegistros }}
    </span>
  </div>
  <div class="col-10 col-md-4 mt-2 mt-md-0">
    <ngb-pagination
      [page]="paginacaoInput().paginaAtual"
      [pageSize]="paginacaoInput().itensPorPagina"
      [collectionSize]="paginacaoInput().totalRegistros"
      [boundaryLinks]="true"
      (pageChange)="ngbPaginationPageChangeEvent($event)"
    >
      <ng-template ngbPaginationFirst>Primeiro</ng-template>
      <ng-template ngbPaginationNext>Próximo</ng-template>
      <ng-template ngbPaginationPrevious>Anterior</ng-template>
      <ng-template ngbPaginationLast>Último</ng-template>
    </ngb-pagination>
  </div>
</div>
