<div class="side-menu shadow d-flex flex-column h-100">
  <div class="siscap-logo col-12 d-flex justify-content-center">
    <!-- Imagem placeholder em png -->
    <!-- Reorganizar quando tiver o svg apropriado -->
    <img class="me-2" src="../../../assets/icons/siscap_logo_navmenu.png" />
  </div>

  <div
    class="hide-menu d-sm-none position-absolute end-0 mt-2 me-2"
    (click)="hideMenu()"
  >
    <i class="fa-solid fa-x fa-xl"></i>
  </div>

  <div class="col mt-5 w-100">
    <div class="menu-items w-100">
      <div class="menu-category">
        <ul>
          <li class="menu-nav-header">BANCO DE PROJETOS</li>
          <li
            class="menu-nav-link pointer"
            (click)="routerNavigation('projetos')"
          >
            <span>PROJETOS</span>
          </li>
          <li
            class="menu-nav-link pointer"
            (click)="routerNavigation('programas')"
          >
            <span>PROGRAMAS</span>
          </li>
        </ul>
      </div>

      <div class="menu-category">
        <ul>
          <li class="menu-nav-header">CAPTAÇÃO DE RECURSOS</li>
          <li
            class="menu-nav-link pointer"
            (click)="routerNavigation('prospeccao')"
          >
            <span>PROSPECÇÃO</span>
          </li>
          <li
            class="menu-nav-link pointer"
            (click)="routerNavigation('oportunidade')"
          >
            <span>OPORTUNIDADE</span>
          </li>
          <li
            class="menu-nav-link pointer"
            (click)="routerNavigation('captacao')"
          >
            <span>CAPTAÇÃO</span>
          </li>
          <li
            class="menu-nav-link pointer"
            (click)="routerNavigation('contratos')"
          >
            <span>CONTRATOS</span>
          </li>
        </ul>
      </div>

      <div class="menu-category">
        <ul>
          <li class="menu-nav-header">ESTATÍSTICO</li>
          <li
            class="menu-nav-link pointer"
            (click)="routerNavigation('relatorios')"
          >
            <span>RELATÓRIOS</span>
          </li>
          <li class="menu-nav-link pointer" (click)="routerNavigation('bi')">
            <span>BUSINESS INTELLIGENCE</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="govES-logo col-12 d-flex justify-content-center">
    <!-- Imagem placeholder em png -->
    <!-- Reorganizar quando tiver o svg apropriado -->
    <img src="../../../assets/icons/govES_logo.png" />
  </div>
</div>
