<!-- <div class="side-menu">
  <div class="test d-flex flex-column justify-content-between align-items-center">
    <div class="siscap-logo">siscap logo</div>

    <div class="menu-items">
      <div class="menu-category">
        <ul>
          <li class="menu-nav-header">BANCO DE PROJETOS</li>
          <li class="menu-nav-link pointer" (click)="navigateProjectsList()">
            <span>PROJETOS</span>
          </li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>PROGRAMAS</span>
          </li>
        </ul>
      </div>

      <div class="menu-category">
        <ul>
          <li class="menu-nav-header">CAPTAÇÃO DE RECURSOS</li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>PROSPECÇÃO</span>
          </li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>OPORTUNIDADE</span>
          </li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>CAPTAÇÃO</span>
          </li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>CONTRATOS</span>
          </li>
        </ul>
      </div>

      <div class="menu-category">
        <ul>
          <li class="menu-nav-header">ESTATÍSTICO</li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>RELATÓRIOS</span>
          </li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>BUSINESS INTELLIGENCE</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="government-logo">GovES logo</div>
  </div>
</div> -->

<div class="test d-flex flex-column justify-content-between h-100">
  <div class="test col"><div class="siscap-logo">siscap logo</div></div>
  <div class="test col">
    <div class="menu-items">
      <div class="menu-category">
        <ul>
          <li class="menu-nav-header">BANCO DE PROJETOS</li>
          <li class="menu-nav-link pointer" (click)="navigateProjectsList()">
            <span>PROJETOS</span>
          </li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>PROGRAMAS</span>
          </li>
        </ul>
      </div>

      <div class="menu-category">
        <ul>
          <li class="menu-nav-header">CAPTAÇÃO DE RECURSOS</li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>PROSPECÇÃO</span>
          </li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>OPORTUNIDADE</span>
          </li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>CAPTAÇÃO</span>
          </li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>CONTRATOS</span>
          </li>
        </ul>
      </div>

      <div class="menu-category">
        <ul>
          <li class="menu-nav-header">ESTATÍSTICO</li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>RELATÓRIOS</span>
          </li>
          <li class="menu-nav-link pointer" (click)="placeholderNavigate()">
            <span>BUSINESS INTELLIGENCE</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="test col"><div class="government-logo">GovES logo</div></div>
</div>
