<form [formGroup]="projetosPesquisaForm">
  <div class="col-12 d-inline-flex justify-content-between align-items-end">
    <div class="col px-2">
      <label for="sigla" class="form-label">Sigla</label>
      <input
        type="text"
        name="sigla"
        id="sigla"
        class="form-control"
        formControlName="sigla"
      />
      <label for="titulo" class="form-label">Titulo</label>
      <input
        type="text"
        name="titulo"
        id="titulo"
        class="form-control"
        formControlName="titulo"
      />
    </div>

    <div class="col px-2">
      <label for="status" class="form-label">Status</label>
      <ng-select id="status" name="status" formControlName="status">
        <ng-option
          *ngFor="let statusProjeto of statusProjetoOpcoes"
          [value]="statusProjeto"
          >{{ statusProjeto }}</ng-option
        >
      </ng-select>
      <label for="organizacao" class="form-label">Organização</label>
      <ng-select
        id="organizacao"
        name="organizacao"
        formControlName="organizacao"
      >
        <ng-option
          *ngFor="let organizacao of organizacoesOpcoes"
          [value]="organizacao.id"
        >
          {{ organizacao.nome }}
        </ng-option>
      </ng-select>
    </div>

    <div class="col px-2">
      <label for="">Data</label>
      <div class="input-group">
        <input
          name="data"
          id="data"
          class="form-control"
          ngbDatepicker
          #dp="ngbDatepicker"
          formControlName="data"
        />
        <button class="btn btn-outline-secondary" (click)="dp.toggle()">
          <i class="fa-solid fa-calendar-days"></i>
        </button>
      </div>
    </div>
  </div>
</form>
