<!-- OVERLAY -->
<div class="modal-overlay show" (click)="fecharModal()">
</div>

<!-- MODAL -->
<div class="filter-modal show">

    <!-- HEADER -->
    <div class="modal-header">
        <h2 class="card-title">
            FILTROS PLANEJAMENTO
        </h2>

        <button type="button" class="close-modal" aria-label="Fechar" (click)="fecharModal()">
            ✕
        </button>
    </div>

    <!-- BODY -->
    <div class="filter-body">

        <div class="filter-grid">

            <!-- ANO DO PPA -->
            <div class="filter-field">

                <label class="filter-label">
                    Ano
                </label>

                <ng-select [items]="anos" 
                    bindLabel="nome" bindValue="id" 
                    [ngModel]="filtro.idsAnos[0]" 
                    [multiple]="false"
                    [closeOnSelect]="true" 
                    [searchable]="true" [clearable]="true" [disabled]="somenteLeitura"
                    placeholder="Selecione..." class="select-filtro" (ngModelChange)="onAnoChange($event)">

                    <ng-template ng-option-tmp let-item="item" let-item$="item$">
                        <div class="select-option-checkbox">
                            <span>{{ item.nome }}</span>
                        </div>
                    </ng-template>

                    <ng-template ng-multi-label-tmp let-items="items">

                        <span class="custom-selected-label" *ngIf="items.length === 1">
                            {{ items[0].nome }}
                        </span>

                        <span class="custom-selected-label" *ngIf="items.length > 1">
                            {{ items.length }} selecionadas
                        </span>
                    </ng-template>

                </ng-select>
            </div>

            <!-- UO DO PPA -->
            <div class="filter-field">

                <label class="filter-label">
                    Unidade Orçamentária
                </label>

                <ng-select [items]="uos" bindLabel="nome" bindValue="id" [(ngModel)]="filtro.idsUos" [multiple]="true"
                    [closeOnSelect]="false" [searchable]="true" [clearable]="true" [disabled]="
                        somenteLeitura ||
                        !filtro.idsAnos.length
                    " [placeholder]="
                        filtro.idsAnos.length
                            ? 'Selecione...'
                            : 'Selecione um Ano primeiro...'
                    " class="select-filtro" (change)="onUoChange()">

                    <ng-template ng-option-tmp let-item="item" let-item$="item$">
                        <div class="select-option-checkbox">
                            <input type="checkbox" tabindex="-1" [checked]="item$.selected"
                                style="margin-right: 8px; pointer-events: none;" />
                            <span>{{ item.nome }}</span>
                        </div>
                    </ng-template>

                    <ng-template ng-multi-label-tmp let-items="items">

                        <span class="custom-selected-label" *ngIf="items.length === 1">
                            {{ items[0].nome }}
                        </span>

                        <span class="custom-selected-label" *ngIf="items.length > 1">
                            {{ items.length }} selecionadas
                        </span>
                    </ng-template>

                </ng-select>
            </div>

            <!-- FUNÇÕES -->
            <div class="filter-field">

                <label class="filter-label">
                    Função
                </label>

                <ng-select [items]="funcoes" bindLabel="nome" bindValue="id" [(ngModel)]="filtro.idsFuncoes"
                    [multiple]="true" [closeOnSelect]="false" [searchable]="true" [clearable]="true" [disabled]="
                        somenteLeitura ||
                        !filtro.idsUos.length
                    " [placeholder]="
                        filtro.idsUos.length
                            ? 'Selecione...'
                            : 'Selecione uma UO primeiro...'
                    " class="select-filtro" (change)="onFuncoesChange()">

                    <ng-template ng-option-tmp let-item="item" let-item$="item$">

                        <div class="select-option-checkbox">
                            <input type="checkbox" tabindex="-1" [checked]="item$.selected"
                                style="margin-right: 8px; pointer-events: none;" />
                            <span>{{ item.nome }}</span>
                        </div>
                    </ng-template>

                    <ng-template ng-multi-label-tmp let-items="items">

                        <span class="custom-selected-label" *ngIf="items.length === 1">
                            {{ items[0].nome }}
                        </span>

                        <span class="custom-selected-label" *ngIf="items.length > 1">
                            {{ items.length }} selecionadas
                        </span>
                    </ng-template>

                </ng-select>
            </div>

            <!-- PROGRAMA -->
            <div class="filter-field">
                <label class="filter-label">
                    Programa
                </label>

                <ng-select [items]="programas" bindLabel="nome" bindValue="id" [(ngModel)]="filtro.idsProgramas"
                    [multiple]="true" [closeOnSelect]="false" [searchable]="true" [clearable]="true" [disabled]="
                        somenteLeitura ||
                        !filtro.idsFuncoes.length
                    " [placeholder]="
                        filtro.idsFuncoes.length
                            ? 'Selecione...'
                            : 'Selecione uma Função primeiro...'
                    " class="select-filtro" (change)="onProgramasChange()">

                    <ng-template ng-option-tmp let-item="item" let-item$="item$">

                        <div class="select-option-checkbox">
                            <input type="checkbox" tabindex="-1" [checked]="item$.selected"
                                style="margin-right: 8px; pointer-events: none;" />

                            <span>{{ item.nome }}</span>
                        </div>
                    </ng-template>

                    <ng-template ng-multi-label-tmp let-items="items">

                        <span class="custom-selected-label" *ngIf="items.length === 1">
                            {{ items[0].nome }}
                        </span>

                        <span class="custom-selected-label" *ngIf="items.length > 1">
                            {{ items.length }} selecionados
                        </span>
                    </ng-template>

                </ng-select>
            </div>

            <!-- AÇÃO -->
            <div class="filter-field">
                <label class="filter-label">
                    Ação
                </label>

                <ng-select [items]="acoes" bindLabel="nome" bindValue="id" [(ngModel)]="filtro.idsAcoes"
                    [multiple]="true" [closeOnSelect]="false" [searchable]="true" [clearable]="true" [disabled]="
                        somenteLeitura ||
                        !filtro.idsProgramas.length
                    " [placeholder]="
                        filtro.idsProgramas.length
                            ? 'Selecione...'
                            : 'Selecione um Programa primeiro...'
                    " class="select-filtro">

                    <ng-template ng-option-tmp let-item="item" let-item$="item$">

                        <div class="select-option-checkbox">
                            <input type="checkbox" tabindex="-1" [checked]="item$.selected"
                                style="margin-right: 8px; pointer-events: none;" />

                            <span>{{ item.nome }}</span>
                        </div>
                    </ng-template>

                    <ng-template ng-multi-label-tmp let-items="items">

                        <span class="custom-selected-label" *ngIf="items.length === 1">
                            {{ items[0].nome }}
                        </span>

                        <span class="custom-selected-label" *ngIf="items.length > 1">
                            {{ items.length }} selecionadas
                        </span>
                    </ng-template>

                </ng-select>
            </div>

        </div>

    </div>

    <!-- FOOTER -->
    <div class="modal-footer">

        <button type="button" class="btn-restaurar" [disabled]="somenteLeitura" (click)="resetar()">
            RESTAURAR FILTROS
        </button>

        <button type="button" class="btn-filtrar" (click)="applyFilter()">
            FILTRAR
        </button>

    </div>

</div>