<!-- CARD: FILTROS -->
<div class="card">
  <div class="card-header">
    <div class="badges-container">
      <app-indicador-chip
        *ngFor="let chip of chips"
        [label]="chip.label"
        [value]="chip.value"
        [removable]="chip.removable"
        (onClick)="onChipClick(chip)"
        (onRemove)="removeChip(chip)">
      </app-indicador-chip>
    </div>

    <p-button 
      label="Filtros" 
      icon="pi pi-filter" 
      styleClass="btn-filtros"
      (click)="showModal = true">
    </p-button>
  </div>

  <p-dialog header="Filtros" [(visible)]="showModal" [modal]="true" [style]="{ width: '60vw' }" position="center">
    <app-filtro-indicadores (apply)="onApply($event)" />
  </p-dialog>
</div>


<app-selecao-indicadores
  [indicadores]="indicadores"
  [selecionados]="indicadoresSelecionados"
  [loading]="loading"
  (selecionadosChange)="onSelecaoChange($event)">
</app-selecao-indicadores>

<!-- CARD: INDICADORES SELECIONADOS -->
<div class="card">
  <div class="card-selecionados">
    <p class="lista-label">Indicadores Selecionados</p>

    <p class="text-muted" *ngIf="indicadoresSelecionados.length === 0">
      Nenhum indicador selecionado.
    </p>

    <div class="indicador-selecionado" *ngFor="let item of indicadoresSelecionados">
      {{ item.nome }}
    </div>
  </div>
</div>