:host {
  display: block;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #eef2f7;
}

.card-header {
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 12px;
  border-bottom: 1px solid #eef2f7;
}

.badges-container {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

::ng-deep .btn-filtros.p-button {
  background: white !important;
  border: 1px solid #000000 !important;
  color: #000000 !important;
  border-radius: 20px !important;
  padding: 8px 18px !important;
  font-size: 13px !important;
  display: flex !important;
  gap: 8px !important;
  height: 38px !important;
  transition: all 0.2s;

  &:hover {
    background: #f5f5f5 !important;
    border-color: #000000 !important;
  }

  .p-button-label {
    font-weight: 600;
    color: #000000 !important;
  }

  .p-button-icon {
    font-size: 13px;
    color: #000000 !important;
    margin: 0 !important;
  }
}

.card-selecionados {
  margin: 20px;
  padding: 24px;
  border: 1px dashed #d0d9e6;
  border-radius: 12px;
  background: #f9fbff;
  text-align: left;
}

.indicador-selecionado {
  padding: 6px 0;
  font-size: 13px;
  border-bottom: 1px solid #eef2f7;
}

.indicador-selecionado:last-child {
  border-bottom: none;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.card-footer-selection {
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
  // border-top: 1px solid #eef2f7;
}

.criar-novo-link {
  color: #2563eb;
  cursor: pointer;
  font-weight: 600;
  font-size: 11px;
  transition: opacity 0.2s;
}

.criar-novo-link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.contador {
  color: #072f80;
}

/* ESTADOS */
.estado-vazio {
  text-align: center;
  padding: 40px 0;
  color: #98a2b3;
  font-size: 13px;
}

.estado-vazio i {
  font-size: 18px;
  margin-bottom: 6px;
  display: block;
}