<div class="col-12" >
  <div class="card mb-3">
    <div class="card-body">
        <ng-container *ngFor="let indicadorFormGroup of indicadoresService.indicadoresFormArray.controls; index as i">
          <form [formGroup]="indicadorFormGroup" >
            <div class="card mb-2">
              <div class="card-body row align-items-start">
                
                <div class="col-md-4 mb-2 mb-md-0">
                  <label for="tipoIndicador" class="form-label">
                    Tipo do indicador
                      <form-helper-tooltip 
                        [texto]="projetoTooltip['tipoIndicador']"> 
                      </form-helper-tooltip>
                  </label>
                  <textarea
                    class="form-control"
                    formControlName="tipoIndicador"
                    rows="4"
                    maxlength="80"
                  ></textarea>
                </div>

                <div class="col-md-4 mb-2 mb-md-0">
                  <label for="descricaoMeta" class="form-label">
                    Descrição do indicador
                      <form-helper-tooltip 
                        [texto]="projetoTooltip['descricaoIndicador']"> 
                      </form-helper-tooltip>
                  </label>
                  <textarea
                    class="form-control"
                    formControlName="descricaoIndicador"
                    rows="4"
                    maxlength="2000"
                  ></textarea>
                </div>
                <div class="col-md-4 mb-2 mb-md-0">
                  <label for="descricaoMeta" class="form-label">
                    Descrição da Meta
                      <form-helper-tooltip 
                        [texto]="projetoTooltip['metaIndicador']"> 
                      </form-helper-tooltip>
                  </label>
                  <textarea
                    class="form-control"
                    formControlName="metaIndicador"
                    rows="4"
                    maxlength="2000"
                  ></textarea>
                </div>
                <div class="col-md-auto text-end">
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm"
                    (click)="removerIndicador(i)"
                    *ngIf="isModoEdicao"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
            
          </form>
        </ng-container>
        <div class="d-grid mt-3">
          <button type="button" class="btn btn-outline-primary" 
            (click)="adicionarIndicador()">
            <i class="fas fa-plus me-2"></i>Adicionar Novo Indicador
          </button>
        </div>
    </div>
  </div>
</div>

