<div class="card mt-3" *ngIf="indicadoresService.indicadoresFormArray.length > 0">
  <div class="card-body row gy-2 mb-0">
    <ng-container *ngFor="let indicadorFormGroup of indicadoresService.indicadoresFormArray.controls; index as i">
      <form [formGroup]="indicadorFormGroup" >
        <div class="card mb-2">
          <div class="card-body row align-items-start">
            <div class="col-md-3 mb-2 mb-md-0">
              <strong>{{ getTipoIndicadorNome(indicadorFormGroup.value.tipoIndicador ?? 0) }}</strong>
            </div>
            <div class="col-md-4 mb-2 mb-md-0">
              <label for="descricaoMeta" class="form-label">
                Descrição do indicador
                  <form-helper-tooltip 
                    [texto]="projetoTooltip['descricaoIndicador']"> 
                  </form-helper-tooltip>
              </label>
              <textarea
                class="form-control"
                formControlName="descricaoIndicador"
                rows="4"
                maxlength="2000"
              ></textarea>
            </div>
            <div class="col-md-4 mb-2 mb-md-0">
              <label for="descricaoMeta" class="form-label">
                Descrição da Meta
                  <form-helper-tooltip 
                    [texto]="projetoTooltip['metaIndicador']"> 
                  </form-helper-tooltip>
              </label>
              <textarea
                class="form-control"
                formControlName="metaIndicador"
                rows="4"
                maxlength="2000"
              ></textarea>
            </div>
            <div class="col-md-auto text-end">
              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="removerIndicador(i)"
                *ngIf="isModoEdicao"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        
      </form>
    </ng-container>
  </div>
</div>
