<div class="modal-header bg-warning-subtle">
  <h4 class="modal-title">{{ MENSAGENS.ATENCAO }}</h4>
</div>
<div class="modal-body text-center">
  <p>{{ MENSAGENS.A_PESSOA_JA_ESTA_CADASTRADA_COMO_RESPONSAVEL_DA_ORGANIZACAO }}</p>
  <p class="fw-bold">{{ conteudo }}</p>
  <p>
    {{ MENSAGENS.ALTERAR_AS_ORGANIZACOES_A_QUAL_ESTA_PESSOA_PERTENCE_IRA_DESVINCULA_LA_COMO_RESPONSAVEL_DA_ORGANIZACAO_ACIMA }}
  </p>
</div>

<div class="modal-footer d-flex justify-content-center">
  <siscap-botao
    [propriedades]="botaoEntendi"
    (acao)="activeModal.dismiss()"
  ></siscap-botao>
</div>
