<div class="d-flex flex-column flex-md-row">
  <button class="btn btn-primary py-1 px-2" (click)="tableDetails(rowData)">
    <i class="fa-regular fa-eye"></i>
  </button>
  <button
    class="btn btn-primary py-1 px-1 px-md-2 mx-0 mx-md-2 my-2 my-md-0"
    (click)="tableEdit(rowData)"
  >
    <i class="fa-solid fa-pencil"></i>
  </button>
  <button class="btn btn-primary py-1 px-2" (click)="tableDelete(rowData)">
    <i class="fa-regular fa-trash-can"></i>
  </button>
</div>

<ng-template #deleteModalTemplate let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-danger">Atenção!</h5>
    <button class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>{{ rowData.infoTitle }}</p>

    <ng-container *ngFor="let item of rowData.infoBody | keyvalue">
      <p>{{ item.key }}: {{ item.value }}</p>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-secondary" (click)="modal.dismiss()">
      Cancelar
    </button>
    <button class="btn btn-danger" (click)="modal.close(rowData.id)">
      Deletar
    </button>
  </div>
</ng-template>
