div.microrregiao-card {
  border-radius: 2px;
  background-color: #d7d7d7a6;
}

div.form-check {
  margin-left: 2rem;
}

label.form-check-label {
  vertical-align: text-bottom;
}

input.microrregiao-percentual-rateio,
input.microrregiao-quantia-rateio {
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  font-size: 0.8125rem;
  height: 1.5rem;
  width: 80%;
}

@media (max-width: 575px) {
  div.form-check {
    margin-left: 1rem;
  }
}
