@if (usarModalCentralizado) {
  <siscap-modal [titulo]="config.titulo" [tamanhoCard]="config.itensDetalhe ? 'amplo' : 'padrao'">
    <div modalBody class="text-center">
      <ng-container *ngTemplateOutlet="conteudoConfirmacao"></ng-container>
    </div>
    <div modalFooter class="siscap-modal-actions">
      <ng-container *ngTemplateOutlet="botoesConfirmacao"></ng-container>
    </div>
  </siscap-modal>
} @else {
  <div class="modal-header" [ngClass]="config.headerCustomClass ?? 'bg-warning-subtle'">
    <h4 class="modal-title">{{ config.titulo }}</h4>
    <button class="btn-close" (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body text-center">
    <ng-container *ngTemplateOutlet="conteudoConfirmacao"></ng-container>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <ng-container *ngTemplateOutlet="botoesConfirmacao"></ng-container>
  </div>
}

<ng-template #conteudoConfirmacao>
  <p [ngClass]="config.textoPrincipalCustomClass">{{ config.textoPrincipal }}</p>
  @if (config.textoSecundario) {
  <p [ngClass]="config.textoSecundarioCustomClass">{{ config.textoSecundario }}</p>
  }

  @if (config.itensDetalhe; as detalhes) {

  @if (detalhes.linhas.length) {
  <div class="mt-3 text-start">

    @if (detalhes.titulo) {
    <strong>{{ detalhes.titulo }}</strong>
    }

    <div class="detalhes-grid">

      @for (item of detalhes.linhas; track item.titulo) {
      <div class="detalhe-card">
        <div class="detalhe-titulo">
          {{ item.titulo }}
        </div>

        @if (item.descricao) {
        <div class="detalhe-subtitulo">
          {{ item.descricao }}
        </div>
        }
      </div>
      }
    </div>

  </div>

  }
  }
</ng-template>

<ng-template #botoesConfirmacao>
  <siscap-botao [propriedades]="botaoCancelar" (acao)="activeModal.dismiss('cancelar')"></siscap-botao>
  <siscap-botao [propriedades]="botaoProsseguir" (acao)="activeModal.dismiss('confirmar')"></siscap-botao>
</ng-template>
