<div class="h-100" *ngIf="loading">
  <siscap-loading></siscap-loading>
</div>

<div class="h-100" *ngIf="downloading">
  <siscap-loading [loadingText]="'Baixando DIC'"></siscap-loading>
</div>

<div class="row mx-1" *ngIf="!loading && formMode != 'criar'">
  <div class="d-flex justify-content-end p-0">
    <button *ngIf="!downloading" class="btn btn-outline-primary d-flex justify-content-around" (click)="downloadDic(projectEditId)">
      <i class="fa fa-file-arrow-down fs-5 mx-1 my-auto"></i>
      <span class="mx-1 fs-6">Gerar DIC</span>
    </button>
  </div>
</div>

<div class="project-form" *ngIf="!loading && !downloading">
  <form [formGroup]="projectForm">
    <div class="row mx-1">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-3 mb-2 mb-md-0">
              <label for="sigla" class="form-label col-12">
                Sigla do Projeto
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'sigla' }
                  "></ng-container>
              </label>
              <input mask="" [inputTransformFn]="toUppercaseInputTransformFn"
                [outputTransformFn]="toUppercaseOutputTransformFn" type="text" class="form-control" id="sigla"
                formControlName="sigla" maxlength="12" />
            </div>

            <div class="col-12 col-md-9">
              <label for="titulo" class="form-label col-12">
                Título do Projeto
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'titulo' }
                  "></ng-container>
              </label>
              <input type="text" class="form-control" id="titulo" formControlName="titulo" maxLength="150" />
            </div>
          </div>

          <div class="row">
            <div class="col-12" id="orgao">
              <label for="idOrganizacao" class="form-label col-12">
                Orgão de Origem
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'idOrganizacao' }
                  "></ng-container>
              </label>
              <ng-select id="idOrganizacao" placeholder="-- Selecione um orgão da lista abaixo --"
                formControlName="idOrganizacao">
                <ng-option *ngFor="let organizacao of organizacoesList" [value]="organizacao.id">{{ organizacao.nome
                  }}</ng-option>
              </ng-select>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="idPessoasEquipeElab" class="form-label col-12">
                Equipe de Elaboração
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'idPessoasEquipeElab' }
                  "></ng-container>
              </label>
              <ng-select [multiple]="true" [hideSelected]="true" id="idPessoasEquipeElab"
                placeholder="-- Selecione os membros da equipe de elaboração --" formControlName="idPessoasEquipeElab">
                <ng-option *ngFor="let pessoa of pessoasList" [value]="pessoa.id">{{ pessoa.nome }}</ng-option>
              </ng-select>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 mb-2 mb-md-0">
              <label for="plano" class="form-label"> Plano Estratégico </label>
              <ng-select id="plano" placeholder="Desabilitado" formControlName="plano">
              </ng-select>
            </div>

            <div class="col-12 col-md-6">
              <label for="eixo" class="form-label">Eixo Estratégico</label>
              <ng-select id="eixo" placeholder="Desabilitado" formControlName="eixo">
              </ng-select>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 mb-2 mb-md-0">
              <label for="area" class="form-label">Área Estratégica</label>
              <ng-select id="area" placeholder="Desabilitado" formControlName="area">
              </ng-select>
            </div>

            <div class="col-12 col-md-6">
              <label for="valorEstimado" class="form-label col-12">
                Valor Estimado
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'valorEstimado' }
                  "></ng-container>
              </label>
              <input type="text" mask="separator.2" prefix="R$" thousandSeparator="." decimalMarker=","
                [inputTransformFn]="rtlCurrencyInputTransformFn" class="form-control" id="valorEstimado"
                formControlName="valorEstimado" min="1" />
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="idMicrorregioes" class="form-label col-12">
                Microrregiões Atendidas
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'idMicrorregioes' }
                  "></ng-container>
              </label>
              <ng-select [multiple]="true" [hideSelected]="true" placeholder="-- Selecione as microrregioes --"
                id="idMicrorregioes" formControlName="idMicrorregioes" (add)="
                  ngSelectAddAll($event, 'idMicrorregioes', microrregioesList)
                ">
                <ng-option>Todas</ng-option>
                <ng-option *ngFor="let microrregiao of microrregioesList" [value]="microrregiao.id">{{ microrregiao.nome
                  }}</ng-option>
              </ng-select>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="objetivo" class="form-label col-12">
                Objetivo
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'objetivo' }
                  "></ng-container>
              </label>
              <textarea class="form-control" id="objetivo" formControlName="objetivo" maxLength="2000"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="objetivoEspecifico" class="form-label col-12">
                Objetivo Específico
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'objetivoEspecifico' }
                  "></ng-container>
              </label>
              <textarea class="form-control" id="objetivoEspecifico" formControlName="objetivoEspecifico"
                maxLength="2000"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="situacaoProblema" class="form-label col-12">
                Situação Problema
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'situacaoProblema' }
                  "></ng-container>
              </label>

              <textarea class="form-control" id="situacaoProblema" formControlName="situacaoProblema"
                maxLength="2000"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="solucoesPropostas" class="form-label col-12">
                Soluções Propostas/Resultados Esperados
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'solucoesPropostas' }
                  "></ng-container>
              </label>
              <textarea class="form-control" id="solucoesPropostas" formControlName="solucoesPropostas"
                maxLength="2000"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="impactos">
                Impactos do Projeto no Âmbito Ambiental, Social e de Governança
                (ESG)
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'impactos' }
                  "></ng-container>
              </label>
              <textarea class="form-control" id="impactos" formControlName="impactos" maxLength="2000"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="arranjosInstitucionais" class="form-label col-12">
                Arranjo Institucional
                <ng-container *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'arranjosInstitucionais' }
                  "></ng-container>
              </label>
              <textarea class="form-control" id="arranjosInstitucionais" formControlName="arranjosInstitucionais"
                maxLength="2000"></textarea>
            </div>
          </div>


        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #appAlert let-controlName="controlName">
  <siscap-alert [control]="projectForm.get(controlName) ?? undefined"></siscap-alert>
</ng-template>
