<div class="h-100" *ngIf="loading">
  <siscap-loading></siscap-loading>
</div>

<div class="row mx-1" *ngIf="!loading && formMode != 'criar'">
  <div class="d-flex justify-content-end p-0">
    <button
      class="btn btn-outline-primary d-flex justify-content-around"
      (click)="downloadDic(projectEditId)"
    >
      <i class="fa fa-file-arrow-down fs-5 mx-1 my-auto"></i>
      <span class="mx-1 fs-6">Gerar DIC</span>
    </button>
  </div>
</div>

<div class="project-form" *ngIf="!loading">
  <form [formGroup]="projectForm">
    <div class="row mx-1">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-3 mb-2 mb-md-0">
              <label for="sigla" class="form-label col-12">
                Sigla do Projeto
                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'sigla' }
                  "
                ></ng-container>
              </label>
              <input
                mask=""
                [inputTransformFn]="toUppercaseInputTransformFn"
                [outputTransformFn]="toUppercaseOutputTransformFn"
                type="text"
                class="form-control"
                id="sigla"
                formControlName="sigla"
                maxlength="12"
              />
            </div>

            <div class="col-12 col-md-9">
              <label for="titulo" class="form-label col-12">
                Título do Projeto
                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'titulo' }
                  "
                ></ng-container>
              </label>
              <input
                type="text"
                class="form-control"
                id="titulo"
                formControlName="titulo"
                maxLength="150"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6" id="orgao">
              <label for="idOrganizacao" class="form-label col-12">
                Orgão de Origem
                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'idOrganizacao' }
                  "
                ></ng-container>
              </label>
              <ng-select
                id="idOrganizacao"
                placeholder="-- Selecione um orgão da lista abaixo --"
                formControlName="idOrganizacao"
              >
                <ng-option
                  *ngFor="let organizacao of organizacoesList"
                  [value]="organizacao.id"
                  >{{ organizacao.nome }}</ng-option
                >
              </ng-select>
            </div>

            <div class="col-12 col-md-6" id="responsavel-proponente">
              <label for="responsavelProponente" class="form-label col-12">
                Responsável Proponente
                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'idResponsavelProponente' }
                  "
                ></ng-container>
              </label>
              <ng-select
                id="responsavelProponente"
                placeholder="-- Selecione o responsável proponente --"
                formControlName="idResponsavelProponente"
              >
                <ng-option
                  *ngFor="let pessoa of pessoasList"
                  [value]="pessoa.id"
                  >{{ pessoa.nome }}</ng-option
                >
              </ng-select>
            </div>
          </div>

          <div class="row" *ngIf="getControl('idResponsavelProponente')?.value">
            <div class="col-12 my-1">
              <siscap-equipe-form
                [context]="'PROJETO'"
                [formMode]="formMode"
                [isEdit]="isEdit"
                [targetArray]="equipeElaboracao"
                [listArrays]="{
                  membrosList: equipeElaboracaoList,
                  papeisList: papeisList
                }"
              >
              </siscap-equipe-form>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="valorEstimado" class="form-label col-12">
                Valor Estimado
                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'valorEstimado' }
                  "
                ></ng-container>
              </label>
              <input
                type="text"
                mask="separator.2"
                prefix="R$"
                thousandSeparator="."
                decimalMarker=","
                [inputTransformFn]="rtlCurrencyInputTransformFn"
                [outputTransformFn]="rtlCurrencyOutputTransformFn"
                class="form-control"
                id="valorEstimado"
                formControlName="valorEstimado"
                min="1"
              />
            </div>
          </div>

          <div class="row" *ngIf="getControl('valorEstimado')?.value">
            <div class="col-12 my-1">
              <siscap-rateio-form
                [context]="'PROJETO'"
                [formMode]="formMode"
                [isEdit]="isEdit"
                [targetRateioArray]="rateio"
                [listArrays]="{
                  microrregioesCidadesList: microrregioesCidadesList
                }"
              ></siscap-rateio-form>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-12">
              <label for="idMicrorregioes" class="form-label col-12">
                Microrregiões Atendidas

                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'rateioMicrorregiao' }
                  "
                ></ng-container>
              </label>

              <div class="card">
                <div class="card-body">
                  <div
                    class="col-12 mb-2 d-flex justify-content-between align-items-center"
                  >
                    <div
                      class="col-3 d-inline-flex flex-row justify-content-between rateio-options"
                    >
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="rateio-option-radio"
                          id="microrregiao"
                        />
                        <label class="form-check-label" for="microrregiao"
                          >Rateio por Microrregião</label
                        >
                      </div>

                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="rateio-option-radio"
                          id="cidade"
                        />
                        <label class="form-check-label" for="cidade"
                          >Rateio por Cidade</label
                        >
                      </div>
                    </div>

                    <div
                      class="col-3 d-inline-flex flex-row justify-content-between values-label"
                      *ngIf="
                        !!getControl('valorEstimado')?.value;
                        else nullValorEstimado
                      "
                    >
                      <div class="col-4">
                        <label
                          [ngStyle]="{
                            color: getControl('rateioMicrorregiao')?.hasError(
                              'limiteRateio'
                            )
                              ? '#dc3545'
                              : '#212529'
                          }"
                        >
                          {{
                            rateioService.rateioTotalPercentual
                              .toFixed(2)
                              .replace(".", ",")
                              | mask
                                : "percent.2"
                                : {
                                    suffix: "%",
                                    leadZero: true,
                                    decimalMarker: ","
                                  }
                          }}
                          {{
                            rateioService.getRateioTotalPercentualFormatted()
                          }}
                        </label>
                      </div>
                      <div class="col-8">
                        <label
                          [ngStyle]="{
                            color: getControl('rateioMicrorregiao')?.hasError(
                              'limiteRateio'
                            )
                              ? '#dc3545'
                              : '#212529'
                          }"
                        >
                          {{
                            rateioService.rateioTotalMonetario
                              | mask
                                : "separator.2"
                                : {
                                    prefix: "R$",
                                    leadZero: true,
                                    thousandSeparator: ".",
                                    decimalMarker: ","
                                  }
                          }}
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <ng-container
                      *ngFor="
                        let microrregiao of microrregioesCidadesList;
                        index as i
                      "
                    >
                      <siscap-rateio-item-card
                        [microrregiao]="microrregiao"
                        [index]="i"
                      ></siscap-rateio-item-card>
                    </ng-container>
                  </div>
                </div>
              </div>
              <ng-select
                [multiple]="true"
                [hideSelected]="true"
                placeholder="-- Selecione as microrregioes --"
                id="idMicrorregioes"
                formControlName="idMicrorregioes"
                (add)="
                  ngSelectAddAll($event, 'idMicrorregioes', microrregioesList)
                "
              >
                <ng-option>Todas</ng-option>
                <ng-option
                  *ngFor="let microrregiao of microrregioesList"
                  [value]="microrregiao.id"
                  >{{ microrregiao.nome }}</ng-option
                >
              </ng-select>
            </div>
          </div> -->

          <div class="row">
            <div class="col-12">
              <label for="objetivo" class="form-label col-12">
                Objetivo
                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'objetivo' }
                  "
                ></ng-container>
              </label>
              <textarea
                class="form-control"
                id="objetivo"
                formControlName="objetivo"
                maxLength="2000"
              ></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="objetivoEspecifico" class="form-label col-12">
                Objetivo Específico
                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'objetivoEspecifico' }
                  "
                ></ng-container>
              </label>
              <textarea
                class="form-control"
                id="objetivoEspecifico"
                formControlName="objetivoEspecifico"
                maxLength="2000"
              ></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="situacaoProblema" class="form-label col-12">
                Situação Problema
                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'situacaoProblema' }
                  "
                ></ng-container>
              </label>

              <textarea
                class="form-control"
                id="situacaoProblema"
                formControlName="situacaoProblema"
                maxLength="2000"
              ></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="solucoesPropostas" class="form-label col-12">
                Soluções Propostas/Resultados Esperados
                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'solucoesPropostas' }
                  "
                ></ng-container>
              </label>
              <textarea
                class="form-control"
                id="solucoesPropostas"
                formControlName="solucoesPropostas"
                maxLength="2000"
              ></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="impactos">
                Impactos do Projeto no Âmbito Ambiental, Social e de Governança
                (ESG)
                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'impactos' }
                  "
                ></ng-container>
              </label>
              <textarea
                class="form-control"
                id="impactos"
                formControlName="impactos"
                maxLength="2000"
              ></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label for="arranjosInstitucionais" class="form-label col-12">
                Arranjo Institucional
                <ng-container
                  *ngTemplateOutlet="
                    appAlert;
                    context: { controlName: 'arranjosInstitucionais' }
                  "
                ></ng-container>
              </label>
              <textarea
                class="form-control"
                id="arranjosInstitucionais"
                formControlName="arranjosInstitucionais"
                maxLength="2000"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #appAlert let-controlName="controlName">
  <siscap-alert [control]="getControl(controlName)"></siscap-alert>
</ng-template>

<ng-template #nullValorEstimado>
  <div class="col-3 d-inline-flex flex-row justify-content-center">
    <label class="text-warning">Sem Valor Estimado</label>
  </div>
</ng-template>
