.card-body {
  background-color: #f2f2f297;
}

.row {
  margin-bottom: 0.6rem;
}

label {
  margin-left: 0.5rem;
}

textarea.form-control {
  height: 6.5rem;
}

/* Estilo da label do ng-select (emular o form-floating do Bootstrap) */
.ng-select-floating-label {
  color: rgba(var(--bs-body-color-rgb), 0.65);
  transform: scale(0.85) translateX(-1rem);
}
