.header-bar {
  background-color: #aaaaaa;
}

.user-email {
  font-size: 0.75rem;
}

.user-name,
i.fa-user,
a.dropdown-toggle {
  color: white;
}

.badge.rounded-pill {
  background-color: rgba(16, 127, 207, 1);
}

@media (min-width: 768px) {
  .menu-feather-icon {
    visibility: hidden;
  }
}
