<ul ngbNav #nav="ngbNav" [(activeId)]="menuCategoriaAtiva" class="nav-tabs">
  <ng-container *ngFor="let menuItem of menuLinks">
    <li
      [ngbNavItem]="menuItem.slug"
      [ngClass]="{ 'd-none': menuItem.hidden }"
      class="nav-item"
    >
      <a ngbNavLink>{{ menuItem.category }}</a>

      <ng-template ngbNavContent>
        <div class="col-8 mx-auto py-1">
          <ng-container *ngFor="let route of menuItem.routes">
            <a
              class="btn sub-menu-nav-link"
              [ngClass]="{
                'd-none': route.hidden,
                active: route.path === subMenuCategoriaAtiva
              }"
              [routerLink]="route.path"
            >
              {{ route.title }}
            </a>
          </ng-container>
        </div>
      </ng-template>
    </li>
  </ng-container>
</ul>

<div
  class="d-block sub-menu-wrapper w-100 position-fixed start-0"
  [ngbNavOutlet]="nav"
></div>
