<div class="table-responsive-md">
  <table class="table table-striped">
    <colgroup>
      <col class="sigla-col" />
      <col class="programa-col" />
      <col class="processoEdocs-col" />
      <col class="moeda-col" />
      <col class="valor-col" />
      <col class="acoes-col" />
    </colgroup>
    <thead>
      <tr>
        <th>Sigla</th>
        <th>Programa</th>
        <th>Processo E-Docs</th>
        <th>Moeda</th>
        <th>Valor Total Estimado</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody class="fw-semibold">
      @for (programa of programasList(); track programa) {
        <tr (click)="tableActionOutputEvent({ acao: 'editar', id: programa.id })">
          <td>{{ programa.sigla }}</td>
          <td>{{ programa.titulo }}</td>
          <td>
            @if (currentPolling.idPrograma === programa.id) {
              <div>
                <span class="badge rounded-pill text-bg-warning p-2">
                  <i class="fa-solid fa-circle-notch fa-spin"></i>
                  Processando
                </span>
              </div>
            } @else {
              <a [href]="urlEdocsBase + programa.protocoloEdocs" target="_blank" rel="noopener noreferrer">
                {{ programa.protocoloEdocs }}
              </a>
            }
          </td>
          <td>{{ programa.moeda }}</td>
          <td>
            {{
              programa.tetoPrograma
                | mask
                  : "separator.2"
                  : {
                      prefix: getSimboloMoeda(programa.moeda) + " ",
                      leadZero: true,
                      thousandSeparator: ".",
                      decimalMarker: ","
                    }
            }}
          </td>
          <td (click)="$event.stopPropagation()">
            <button
              class="btn border-none"
              (click)="tableActionOutputEvent({ acao: 'deletar', id: programa.id})"
            >
              <i class="fa-solid fa-trash-can me-2"></i>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <ng-content select="siscap-pagination"></ng-content>
</div>
