<div class="card" *ngIf="equipeService.equipeFormArray.length > 0">
  <div class="card-body row gy-2 mb-0">
    <ng-container
      *ngFor="
        let membroFormGroup of equipeService.equipeFormArray.controls;
        index as i
      "
    >
      <div class="col-12 col-sm-6">
        <div class="card">
          <form [formGroup]="membroFormGroup">
            <div
              class="card-body p-2 col-12 d-flex flex-wrap flex-lg-nowrap justify-content-between align-items-center"
            >
              <div
                class="col-12 col-lg pb-2 pb-lg-0 d-inline-flex justify-content-center justify-content-md-start"
              >
                <span class="nome-membro">{{
                  getMembroNome(membroFormGroup.value.idPessoa)
                }}</span>
              </div>

              <div class="col-12 col-lg d-inline-flex flex-wrap flex-lg-nowrap">
                <div class="col-12 col-md-9">
                  <ng-select
                    name="papelSelect"
                    id="papelSelect"
                    class="papel-select"
                    placeholder="-- Papel do membro --"
                    [readonly]="isMembroRemovido(i) || isProponente"
                    [clearable]="false"
                    formControlName="idPapel"
                  >
                    <ng-option
                      *ngFor="let tipoPapel of tiposPapelOpcoes"
                      [value]="tipoPapel.id"
                    >
                      {{ tipoPapel.nome }}
                    </ng-option>
                  </ng-select>
                </div>

                <div
                  class="col-12 col-md-3 ps-0 ps-md-2 pt-2 pt-md-0 d-inline-flex justify-content-center justify-content-md-between align-items-center"
                >
                  <button
                    *ngIf="isNovoMembro(i)"
                    type="button"
                    ngbTooltip="Excluir membro da equipe"
                    class="btn btn-outline-danger rounded-circle"
                    (click)="removerMembroDaEquipe(i)"
                  >
                    <i class="fa-solid fa-close delete-btn-icon"></i>
                  </button>
                  <button
                    *ngIf="
                      isModoEdicao && permissaoRemoverMembro && !isNovoMembro(i)
                    "
                    type="button"
                    ngbTooltip="Remover membro da equipe"
                    [disabled]="
                      !isModoEdicao ||
                      membroFormGroup.value.idStatus != TipoStatusEnum.Ativo
                    "
                    class="btn btn-outline-secondary rounded-circle"
                    (click)="abrirExcluirMembroModal(excluirMembroModal, i)"
                  >
                    <i class="fa-solid fa-minus remove-btn-icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #excluirMembroModal let-modal>
  <div class="modal-header">
    <div class="col-12 d-inline-flex justify-content-between align-items-end">
      <h4 class="mb-0">Excluir membro da equipe</h4>
      <button
        class="float-end p-0 m-0 btn border-none"
        triggers="mouseenter:mouseleave"
        [ngbPopover]="textoAjudaExcluirMembroModal"
      >
        <i class="fa-regular fa-circle-question"></i>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form [formGroup]="equipeService.excluirMembroForm">
      <div class="col-12 d-flex justify-content-around align-items-center">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="membroStatus"
            id="membroStatus_excluir"
            [value]="TipoStatusEnum.Excluido"
            formControlName="membroStatus"
          />
          <label class="form-check-label fs-6" for="membroStatus_excluir"
            >Excluir</label
          >
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="membroStatus"
            id="membroStatus_remover"
            [value]="TipoStatusEnum.Inativo"
            formControlName="membroStatus"
          />
          <label class="form-check-label fs-6" for="membroStatus_remover"
            >Remover</label
          >
        </div>
      </div>

      <div
        class="col-12"
        *ngIf="equipeService.excluirMembroFormMembroStatusFormControl.value"
      >
        <div class="col-12 my-2">
          <label class="fs-6" for="justificativa">Justificativa:</label>
          <span class="float-end"
            >{{
              equipeService.excluirMembroFormJustificativaFormControl.value
                ?.length ?? 0
            }}/255</span
          >
        </div>
        <input
          maxlength="255"
          class="form-control"
          type="text"
          name="justificativa"
          id="justificativa"
          formControlName="justificativa"
        />
        <div class="col-12 mt-1 d-flex justify-content-center">
          <span
            *ngIf="
              equipeService.excluirMembroFormJustificativaFormControl.errors
            "
            class="error-message"
          >
            Campo justificativa não pode ser vazio.
          </span>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-outline-danger mx-1"
      (click)="modal.dismiss('cancel')"
    >
      <i class="fa-solid fa-close mx-1 fs-6"></i>
      <span class="mx-1 fs-6">Cancelar</span>
    </button>

    <button
      class="btn btn-success mx-1"
      [disabled]="
        equipeService.excluirMembroFormJustificativaFormControl.invalid
      "
      (click)="modal.close('save')"
    >
      <i class="fa-solid fa-check mx-1 fs-6"></i>
      <span class="mx-1 fs-6">Confirmar</span>
    </button>
  </div>
</ng-template>

<ng-template #textoAjudaExcluirMembroModal>
  <p>
    <b>Excluir</b> - Exclui um membro da equipe de elaboração. Utilize caso a
    inserção do membro na equipe foi um engano.
  </p>
  <p>
    <b>Remover</b> - Remove um membro da equipe de elaboração. Utilize caso o
    membro não faça mais parte da equipe (ex: O membro foi realocado para outra
    equipe/outro projeto, etc.).
  </p>
</ng-template>
