<div class="card" *ngIf="equipeService.equipeFormArray.length > 0">
  <div class="card-body row gy-2 mb-0">
    <ng-container
      *ngFor="
        let membroFormGroup of equipeService.equipeFormArray.controls;
        index as i
      "
    >
      <div [hidden]="isMembroRemovido(i)" class="col-12 col-sm-6">
        <div class="card">
          <form [formGroup]="membroFormGroup">
            <div 
              class="card-body p-2 col-12 d-flex flex-wrap flex-lg-nowrap justify-content-between align-items-center">
              <div class="col-12 col-lg pb-2 pb-lg-0 d-inline-flex justify-content-center justify-content-md-start" >
                <span class="nome-membro">{{ membroFormGroup.value.nome }}</span>
              </div>
              <div class="col-12 col-lg d-inline-flex flex-wrap flex-lg-nowrap">
                <div class="col-12 col-md-9">
                  <ng-select
                    name="papelSelect"
                    id="papelSelect"
                    class="papel-select"
                    placeholder="-- Papel do membro --"
                    [readonly]="isMembroRemovido(i)"
                    [clearable]="false"
                    formControlName="idPapel" >
                    <ng-option
                      *ngFor="let tipoPapel of tiposPapelOpcoes"
                      [value]="tipoPapel.id"
                      [disabled]="papelDeveEstarDesabilitado(tipoPapel, i)"
                    >
                      {{ tipoPapel.nome }}
                    </ng-option>
                    <ng-template ng-label-tmp let-item="item">
                      {{ getPapelNome(item) }}
                    </ng-template>
                  </ng-select>
                </div>
                <div class="col-12 col-md-3 ps-0 ps-md-2 pt-2 pt-md-0 d-inline-flex justify-content-center justify-content-md-between align-items-center" >
                  <button
                    type="button"
                    ngbTooltip="Excluir membro da equipe"
                    class="btn btn-outline-danger rounded-circle"
                    [disabled]="desabilitarCampo(i)"
                    (click)="removerMembroDaEquipe(i)">
                    <i class="fa-solid fa-close delete-btn-icon"></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </ng-container>
  </div>
</div>


