<div class="h-100" *ngIf="loading">
  <siscap-loading></siscap-loading>
</div>

<!-- d-md-flex flex-md-column jusity-content-md-between -->

<div class="entity-form h-100 overflow-y-auto" *ngIf="!loading">
  <form [formGroup]="entityForm">
    <div class="row mx-1">
      <div class="left-part col-12 col-md-8">
        <div class="card h-100">
          <div class="card-body">
            <div class="entity-info">
              <div class="col-12">
                <div class="card-title border-bottom border-1">
                  <span class="fw-medium">Informações da Entidade</span>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="nome" class="form-label col-12">
                    Nome da Entidade
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'nome' }
                      "
                    ></ng-container>
                  </label>
                  <input
                    type="text"
                    id="nome"
                    class="form-control"
                    formControlName="nome"
                  />
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="abreviatura" class="form-label col-12">
                    Sigla/Abreviatura
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'abreviatura' }
                      "
                    ></ng-container>
                  </label>
                  <input
                    type="text"
                    id="abreviatura"
                    class="form-control"
                    formControlName="abreviatura"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="idTipoEntidade" class="form-label col-12">
                    Tipo de Entidade
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'idTipoEntidade' }
                      "
                    ></ng-container>
                  </label>
                  <ng-select
                    id="idTipoEntidade"
                    placeholder="-- Tipo de Entidade --"
                    formControlName="idTipoEntidade"
                  >
                    <ng-option
                      *ngFor="let tipoEntidade of tiposEntidadesList"
                      [value]="tipoEntidade.id"
                      >{{ tipoEntidade.nome }}
                    </ng-option>
                  </ng-select>
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="idPais" class="form-label col-12">
                    País de Origem
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'idPais' }
                      "
                    ></ng-container>
                  </label>
                  <ng-select
                    id="idPais"
                    placeholder="-- País --"
                    formControlName="idPais"
                    (change)="paisSelected($event)"
                  >
                    <ng-option *ngFor="let pais of paisesList" [value]="pais.id"
                      >{{ pais.nome }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="idCidade" class="form-label col-12">
                    Cidade
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'idCidade' }
                      "
                    ></ng-container>
                  </label>
                  <ng-select
                    id="idCidade"
                    placeholder="-- Cidade --"
                    formControlName="idCidade"
                    [virtualScroll]="true"
                  >
                    <ng-option
                      *ngFor="let cidade of cidadesList"
                      [value]="cidade.id"
                      >{{ cidade.nome }}
                    </ng-option>
                  </ng-select>
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="idEntidadePai" class="form-label col-12">
                    Matriz/Sede
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'idEntidadePai' }
                      "
                    ></ng-container>
                  </label>
                  <ng-select
                    id="idEntidadePai"
                    placeholder="-- Matriz/Sede --"
                    formControlName="idEntidadePai"
                  >
                    <ng-option
                      *ngFor="let entidade of entidadesList"
                      [value]="entidade.id"
                      >{{ entidade.nome }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="cnpj" class="form-label col-12">
                    CNPJ
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'cnpj' }
                      "
                    ></ng-container>
                  </label>
                  <input
                    mask="00.000.000/0000-00"
                    type="text"
                    id="cnpj"
                    class="form-control"
                    formControlName="cnpj"
                  />
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="idPessoaResponsavel" class="form-label col-12">
                    Responsável
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'idPessoaResponsavel' }
                      "
                    ></ng-container>
                  </label>
                  <ng-select
                    id="idPessoaResponsavel"
                    placeholder="-- Responsável --"
                    formControlName="idPessoaResponsavel"
                  >
                    <ng-option
                      *ngFor="let pessoa of pessoasList"
                      [value]="pessoa.id"
                      >{{ pessoa.nome }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="telefone" class="form-label col-12">
                    Telefone
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'telefone' }
                      "
                    ></ng-container>
                  </label>
                  <input
                    type="text"
                    id="telefone"
                    class="form-control"
                    formControlName="telefone"
                  />
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="fax" class="form-label col-12">
                    Fax
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'fax' }
                      "
                    ></ng-container>
                  </label>
                  <input
                    type="text"
                    id="fax"
                    class="form-control"
                    formControlName="fax"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="email" class="form-label col-12">
                    E-mail
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'email' }
                      "
                    ></ng-container>
                  </label>
                  <input
                    type="text"
                    id="email"
                    class="form-control"
                    formControlName="email"
                  />
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="site" class="form-label col-12">
                    Site
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'site' }
                      "
                    ></ng-container>
                  </label>
                  <input
                    type="text"
                    id="site"
                    class="form-control"
                    formControlName="site"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right-part col-12 col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="entity-img">
              <div class="col-12">
                <div class="card-title border-bottom border-1">
                  <span class="fw-medium">Marca da Entidade</span>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div
                    class="d-flex flex-column flex-md-row justify-content-md-around align-items-center"
                  >
                    <div
                      class="col-12 col-md-4 mb-3 mb-md-0 text-center photo-upload"
                    >
                      <ng-container
                        *ngIf="!!uploadedPhotoSrc; else placeholderImg"
                      >
                        <img [src]="uploadedPhotoSrc" class="uploaded-photo" />
                        <span
                          class="link-primary pointer"
                          [ngClass]="{ invisible: formMode == 'detalhes' }"
                          (click)="removeImg()"
                          >Remover</span
                        >
                      </ng-container>
                    </div>

                    <div class="col-12 col-md-8 mt-3 mt-md-0 text-center">
                      <input
                        #imagemPerfil
                        [disabled]="formMode == 'detalhes'"
                        id="imagemPerfil"
                        type="file"
                        accept=".jpg, .gif, .png"
                        class="form-control"
                        (change)="attachImg($event)"
                      />
                      <small class="text-primary"
                        >JPG, GIF ou PNG. Tamanho máximo de 800k</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2" id="interactbtns">
        <div class="col d-flex flex-row-reverse">
          <button
            type="button"
            class="btn btn-primary p-2 px-4 mx-1"
            [hidden]="formMode == 'detalhes'"
            [disabled]="entityForm.invalid"
            (click)="submitEntityForm(this.entityForm)"
          >
            {{ formMode == "editar" ? "Atualizar" : "Cadastrar" }}
          </button>

          <button
            type="button"
            class="btn btn-danger p-2 px-4 mx-1"
            [hidden]="formMode == 'detalhes'"
            (click)="cancelForm()"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #placeholderImg>
  <i
    class="fa-solid fa-user fa-3x pt-3 h-100 w-100 border border-1 rounded"
  ></i>
</ng-template>

<ng-template #appAlert let-controlName="controlName">
  <siscap-alert
    [control]="entityForm.get(controlName) ?? undefined"
  ></siscap-alert>
</ng-template>
