  <div class="modal-header siscap-modal__header" [ngClass]="headerClasses">
    @if (cabecalhoPersonalizado) {
      <ng-content select="[modalHeader]"></ng-content>
    } @else {
      <div class="siscap-modal__heading">
        <h4 class="modal-title siscap-modal__title">{{ titulo }}</h4>
      </div>
    }
    @if (exibirFecharCabecalho) {
      <button class="btn-close siscap-modal__close" type="button" attr.aria-label="{{ MENSAGENS.FECHAR_MODAL }}" (click)="fechar()"></button>
    }
  </div>
  <div class="modal-body siscap-modal__body">
    <ng-content select="[modalBody]"></ng-content>
  </div>
  <div class="modal-footer siscap-modal__footer">
    <ng-content select="[modalFooter]"></ng-content>
  </div>
