<div class="modal siscap-modal" tabindex="-1" role="dialog" aria-modal="true" [attr.aria-label]="titulo">
  <div class="modal-dialog siscap-modal__dialog">
    <div class="modal-content siscap-modal__content">
      <div class="modal-header siscap-modal__header" [ngClass]="headerClasses">
        <h4 class="modal-title siscap-modal__title">{{ titulo }}</h4>
        <button
          class="btn-close siscap-modal__close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Fechar modal"
          (click)="fecharModal.emit()"
        >
        </button>
      </div>
      <div class="modal-body siscap-modal__body">
        <ng-content select="[modalBody]"></ng-content>
      </div>
      <div class="modal-footer siscap-modal__footer">
        <ng-content select="[modalFooter]"></ng-content>
      </div>
    </div>
  </div>
</div>
