<div class="div-table-responsive">
  <table datatable [dtOptions]="dtOptions" class="table table-crud align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
    <thead>
      <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
        <ng-container *ngFor="let column of dtOptions.columns">
          <th class="">{{ column.title }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody class="fw-semibold text-gray-600">
    </tbody>
  </table>
</div>

<swal #deleteSwal [swalOptions]="swalOptions" title="Tem certeza que deseja excluir?" [html]="textDelete"  icon="warning" [showCancelButton]="true"
  [focusCancel]="true" (confirm)="triggerDelete()"
  [customClass]="{ cancelButton: 'btn btn-outline-primary mx-1', confirmButton: 'btn btn-danger  mx-1',}">
</swal>

<swal #successSwal [swalOptions]="swalOptions" title="Delete successfully!" text="" icon="success"
  [customClass]="{confirmButton: 'btn btn-success'}">
</swal>