<div class="header-bar bg-secondary h-100">
  <div class="d-flex justify-content-between align-items-center h-100">
    <button
      class="btn d-block d-md-none"
      type="button"
      (click)="showOffcanvas()"
    >
      <i class="fa-solid fa-bars fa-lg"></i>
    </button>

    <div class="user-account-info ms-0 ms-md-auto">
      <div
        class="d-flex justify-content-between align-items-center me-3 px-2 w-100"
      >
        <ng-container
          *ngIf="
            userProfile.imagemPerfil != null;
            else standardProfileImageTemplate
          "
        >
          <ng-container
            *ngTemplateOutlet="
              profileImageTemplate;
              context: { imgSrc: userProfile.imagemPerfil }
            "
          ></ng-container>
        </ng-container>

        <div class="dropdown">
          <a
            class="dropdown-toggle pointer text-decoration-none text-white"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="me-2 text-white">{{ userProfile.nome }}</span>
          </a>
          <ul class="dropdown-menu">
            <div class="badge rounded-pill mx-2">
              <span class="user-email">{{ userProfile.email }}</span>
            </div>
            <li>
              <a class="dropdown-item pointer" (click)="logOut()">
                <span>Sair</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #profileImageTemplate let-imgSrc="imgSrc">
  <img
    [src]="convertByteArraytoImg(imgSrc)"
    alt=""
    class="profile-pic rounded-circle"
  />
</ng-template>

<ng-template #standardProfileImageTemplate>
  <div
    class="profile-pic border rounded-circle d-flex justify-content-center align-items-center text-white"
  >
    <i class="fa-solid fa-user text-white"></i>
  </div>
</ng-template>
