<div
  id="pagination-wrapper"
  class="d-flex flex-column flex-md-row align-items-center align-items-md-baseline justify-content-around"
>
  <span class="report-total">
    {{ formatarMensagem(MENSAGENS.MOSTRANDO_VALOR_ATE_VALOR_REGISTROS_DE_VALOR, { p0: (paginacaoDadosInput().primeiroItemPagina), p1: (paginacaoDadosInput().ultimoItemPagina), p2: (paginacaoDadosInput().totalRegistros) }) }}</span>

  <ngb-pagination
    [page]="paginacaoDadosInput().paginaAtual"
    [pageSize]="paginacaoDadosInput().itensPorPagina"
    [collectionSize]="paginacaoDadosInput().totalRegistros"
    [boundaryLinks]="true"
    [maxSize]="3"
    (pageChange)="ngbPaginationPageChangeEvent($event)"
  >
    <ng-template ngbPaginationFirst>
      <span class="ngb-pagination-text"> {{ MENSAGENS.PRIMEIRO }} </span>
    </ng-template>

    <ng-template ngbPaginationNext>
      <span class="ngb-pagination-text"> {{ MENSAGENS.PROXIMO }} </span>
    </ng-template>

    <ng-template ngbPaginationPrevious>
      <span class="ngb-pagination-text"> {{ MENSAGENS.ANTERIOR }} </span>
    </ng-template>

    <ng-template ngbPaginationLast>
      <span class="ngb-pagination-text"> {{ MENSAGENS.ULTIMO }} </span>
    </ng-template>
  </ngb-pagination>
</div>
