<div
  id="pagination-wrapper"
  class="d-flex flex-column flex-md-row align-items-center align-items-md-baseline justify-content-around"
>
  <span class="report-total">
    Mostrando {{ paginacaoDadosInput().primeiroItemPagina }} até
    {{ paginacaoDadosInput().ultimoItemPagina }} registros de
    {{ paginacaoDadosInput().totalRegistros }}
  </span>

  <ngb-pagination
    [page]="paginacaoDadosInput().paginaAtual"
    [pageSize]="paginacaoDadosInput().itensPorPagina"
    [collectionSize]="paginacaoDadosInput().totalRegistros"
    [boundaryLinks]="true"
    (pageChange)="ngbPaginationPageChangeEvent($event)"
  >
    <ng-template ngbPaginationFirst>
      <span class="ngb-pagination-text"> Primeiro </span>
    </ng-template>

    <ng-template ngbPaginationNext>
      <span class="ngb-pagination-text"> Próximo </span>
    </ng-template>

    <ng-template ngbPaginationPrevious>
      <span class="ngb-pagination-text"> Anterior </span>
    </ng-template>

    <ng-template ngbPaginationLast>
      <span class="ngb-pagination-text"> Último </span>
    </ng-template>
  </ngb-pagination>
</div>
