<div class="row">
  <div class="col">
    <h1 class="oswald-semi-bold mb-0 font-Breadcrumb" >{{ currentPage | breadcrumbnavlink }}</h1>
    <ul class="breadcrumb fw-semibold text-gray-600 fs-7">
      <ng-container *ngFor="let path of breadcrumbNav">
        <li class="breadcrumb-item text-gray-600">
          <a [routerLink]="path"  [ngClass]="{ 'd-none': currentPage === 'main','link-atual': currentPage === path }"  class="text-gray-600 breadcrumb-link text-hover-primary">{{ path | breadcrumbnavlink }}</a>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="col-md-4 m-auto">
    <div class="d-flex justify-content-end">
      <ng-container *ngTemplateOutlet="newButton; context: { path: currentPage }"></ng-container>
      <button class="btn btn-primary" (click)="goBack()">
        <i class="fa-solid fa-reply"></i>
      </button>
      <button class="btn btn-primary" (click)="goForward()">
        <i class="fa-solid fa-share"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #breadcrumb>
  <ul class="list-unstyled list-inline">
    <li class="list-inline-item" *ngFor="let path of breadcrumbNav">
      <a
        class="text-decoration-none"
        [routerLink]="path"
        [ngClass]="{
          'pe-none text-secondary text-decoration-none': path == currentPage
        }"
        >{{ path | breadcrumbnavlink }}</a
      >
      <span *ngIf="path != currentPage"> > </span>
    </li>
  </ul>
</ng-template>

<!-- Botão de criar um novo dado (ex.: Projetos -> Novo Projeto) -->
<ng-template #newButton let-path="path">
  <button
    *ngIf="isAllowed(path)"
    class="btn btn-primary me-md-2 me-0 text-nowrap"
    [routerLink]="[path, 'form', 'criar']"
    [hidden]="!mainChildPaths.includes(path)"
  >
    <i class="fa-solid fa-plus"></i>
    <span> {{ path + "criar" | breadcrumbnavlink }}</span>
  </button>
</ng-template>
