<div class="d-flex flex-row align-items-center">
  <div class="home-button">
    <button class="btn btn-primary p-2 me-1" [routerLink]="'home'">
      <i class="fa-solid fa-house fa-lg"></i>
    </button>
  </div>

  <div class="breadcrumb-title-area">
    <ng-container *ngTemplateOutlet="breadcrumb"></ng-container>
    <h4>{{ currentPage | breadcrumbnavlink }}</h4>
  </div>

  <div class="nav-icons ms-auto d-md-inline-block d-none">
    <ng-container
      *ngTemplateOutlet="newButton; context: { path: currentPage }"
    ></ng-container>
    <button class="btn p-0" (click)="goBack()">
      <i class="fa-solid fa-reply fa-lg pe-1 text-primary"></i>
    </button>
    <button class="btn p-0" (click)="goForward()">
      <i class="fa-solid fa-share fa-lg ps-1 text-primary"></i>
    </button>
  </div>

  <div class="nav-icons ms-auto d-inline-flex flex-column d-md-none">
    <ng-container
      *ngTemplateOutlet="newButton; context: { path: currentPage }"
    ></ng-container>

    <div class="flex-row align-self-center">
      <button class="btn p-0" (click)="goBack()">
        <i class="fa-solid fa-reply fa-lg pe-1 text-primary"></i>
      </button>
      <button class="btn p-0" (click)="goForward()">
        <i class="fa-solid fa-share fa-lg ps-1 text-primary"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #breadcrumb>
  <ul class="list-unstyled list-inline">
    <li class="list-inline-item" *ngFor="let path of breadcrumbNav">
      <a
        class="text-decoration-none"
        [routerLink]="path"
        [ngClass]="{
          'pe-none text-secondary text-decoration-none': path == currentPage
        }"
        >{{ path | breadcrumbnavlink }}</a
      >
      <span *ngIf="path != currentPage"> > </span>
    </li>
  </ul>
</ng-template>

<!-- Botão de criar um novo dado (ex.: Projetos -> Novo Projeto) -->
<ng-template #newButton let-path="path">
  <button
    class="btn btn-primary p-1 me-md-2 me-0 text-nowrap"
    [routerLink]="[path, 'form', 'criar']"
    [hidden]="!mainChildPaths.includes(path)"
  >
    {{ path + "criar" | breadcrumbnavlink }}
  </button>
</ng-template>
