
.font-Breadcrumb{
    font-size: 1.6rem;
    color: #10141d;
}

.breadcrumb-link{
    color: #565254 !important;
    text-decoration: none;
    font-size: 0.8rem;
}

.link-atual{
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}