<div class="h-100" *ngIf="loading">
  <siscap-loading></siscap-loading>
</div>

<div class="row mx-1" *ngIf="!loading && formMode != 'criar'">
  <div class="d-flex justify-content-end">
    <button
      *ngIf="isAllowed('pessoaseditar')"
      type="button"
      class="btn mx-2 edit-btn"
      (click)="switchMode(true, ['acessos', 'prof'])"
      [disabled]="isEdit"
    >
      <i class="fa-solid fa-pencil"></i>
    </button>

    <button
      *ngIf="isAllowed('pessoasdeletar')"
      type="button"
      class="btn delete-btn"
      (click)="deletarPessoa(personEditId)"
    >
      <i class="fa-solid fa-trash-can"></i>
    </button>
  </div>
</div>

<div class="person-form" *ngIf="!loading">
  <form [formGroup]="personForm">
    <div class="row mx-1">
      <div
        class="left-part col-12 col-md-8 d-md-flex flex-md-column justify-content-md-between"
      >
        <div class="card">
          <div class="card-body">
            <div class="personal-info">
              <div class="col-12">
                <div class="card-title border-bottom border-1">
                  <span>Informações Pessoais</span>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="nome" class="form-label col-12"
                    >Nome Completo
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'nome' }
                      "
                    ></ng-container>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="nome"
                    formControlName="nome"
                  />
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="nomeSocial" class="form-label col-12"
                    >Nome Social
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'nomeSocial' }
                      "
                    ></ng-container>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="nomeSocial"
                    formControlName="nomeSocial"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="nacionalidade" class="form-label col-12"
                    >Nacionalidade
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'nacionalidade' }
                      "
                    ></ng-container>
                  </label>
                  <ng-select
                    id="nacionalidade"
                    placeholder="-- Nacionalidade --"
                    formControlName="nacionalidade"
                  >
                    <ng-option
                      *ngFor="let nacionalidade of nacionalidadesList"
                      [value]="nacionalidade"
                      >{{ nacionalidade }}</ng-option
                    >
                  </ng-select>
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="genero" class="form-label col-12"
                    >Gênero
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'genero' }
                      "
                    ></ng-container
                  ></label>
                  <ng-select
                    id="genero"
                    placeholder="-- Gênero --"
                    formControlName="genero"
                  >
                    <ng-option
                      *ngFor="let genero of generosList"
                      [value]="genero"
                      >{{ genero }}</ng-option
                    >
                  </ng-select>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="cpf" class="form-label col-12"
                    >CPF
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'cpf' }
                      "
                    ></ng-container
                  ></label>
                  <input
                    mask="000.000.000-00"
                    type="text"
                    class="form-control"
                    id="cpf"
                    formControlName="cpf"
                  />
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="email" class="form-label col-12"
                    >E-mail
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'email' }
                      "
                    ></ng-container
                  ></label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    formControlName="email"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="telefonePessoal" class="form-label col-12"
                    >Telefone Pessoal
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'telefonePessoal' }
                      "
                    ></ng-container
                  ></label>

                  <input
                    type="text"
                    class="form-control"
                    id="telefonePessoal"
                    formControlName="telefonePessoal"
                  />
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="telefoneComercial" class="form-label col-12"
                    >Telefone Comercial
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'telefoneComercial' }
                      "
                    ></ng-container>
                  </label>

                  <input
                    type="text"
                    class="form-control"
                    id="telefoneComercial"
                    formControlName="telefoneComercial"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="address-info">
              <div formGroupName="endereco">
                <div class="col-12">
                  <div class="card-title border-bottom border-1">
                    <span>Informações de Endereço</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-8 mb-2 mb-md-0">
                    <label for="endereco.rua" class="form-label col-12"
                      >Logradouro
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.rua' }
                        "
                      ></ng-container>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="endereco.rua"
                      formControlName="rua"
                    />
                  </div>
                  <div class="col-12 col-md-2 mb-2 mb-md-0">
                    <label for="endereco.numero" class="form-label col-12"
                      >Número
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.numero' }
                        "
                      ></ng-container>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="endereco.numero"
                      formControlName="numero"
                    />
                  </div>
                  <div class="col-12 col-md-2 mb-2 mb-md-0">
                    <label
                      for="endereco.codigoPostal"
                      class="form-label col-12"
                    >
                      Código Postal
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.codigoPostal' }
                        "
                      ></ng-container>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="endereco.codigoPostal"
                      formControlName="codigoPostal"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-8 mb-2 mb-md-0">
                    <label for="endereco.complemento" class="form-label col-12">
                      Complemento
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.complemento' }
                        "
                      ></ng-container>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="endereco.complemento"
                      formControlName="complemento"
                    />
                  </div>

                  <div class="col-12 col-md-4 mb-2 mb-md-0">
                    <label for="endereco.bairro" class="form-label col-12">
                      Bairro
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.bairro' }
                        "
                      ></ng-container>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="endereco.bairro"
                      formControlName="bairro"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-4 mb-2 mb-md-0">
                    <label for="pais" class="form-label">País</label>
                    <ng-select
                      id="pais"
                      placeholder="-- Pais --"
                      [disabled]="!isEdit"
                      [(ngModel)]="paisSelected"
                      [ngModelOptions]="{ standalone: true, }"
                      (change)="paisChanged($event)"
                    >
                      <ng-option
                        *ngFor="let pais of paisesList"
                        [value]="pais.id"
                        >{{ pais.nome }}</ng-option
                      >
                    </ng-select>
                  </div>
                  <div class="col-12 col-md-4 mb-2 mb-md-0">
                    <label for="estado" class="form-label">Estado</label>
                    <ng-select
                      id="estado"
                      placeholder="-- Estado --"
                      [disabled]="!isEdit"
                      [(ngModel)]="estadoSelected"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="estadoChanged($event)"
                    >
                      <ng-option
                        *ngFor="let estado of estadosList"
                        [value]="estado.id"
                        >{{ estado.nome }}</ng-option
                      >
                    </ng-select>
                  </div>
                  <div class="col-12 col-md-4 mb-2 mb-md-0">
                    <label for="endereco.idCidade" class="form-label col-12">
                      Cidade
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.idCidade' }
                        "
                      ></ng-container>
                    </label>
                    <ng-select
                      id="endereco.idCidade"
                      placeholder="-- Cidade --"
                      formControlName="idCidade"
                    >
                      <ng-option
                        *ngFor="let cidade of cidadesList"
                        [value]="cidade.id"
                        >{{ cidade.nome }}</ng-option
                      >
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="right-part col-12 col-md-4 d-md-flex flex-md-column justify-content-md-between"
      >
        <div class="card">
          <div class="card-body">
            <div class="profile-img">
              <div class="col-12">
                <div class="card-title border-bottom border-1">
                  <span>Foto de Perfil</span>
                </div>
              </div>

              <div class="row">
                <div
                  class="d-flex flex-column flex-md-row justify-content-md-around align-items-center"
                >
                  <div
                    class="col-12 col-md-4 mb-3 mb-md-0 text-center photo-upload"
                  >
                    <ng-container
                      *ngIf="!!uploadedPhotoSrc; else placeholderImg"
                    >
                      <img [src]="uploadedPhotoSrc" class="uploaded-photo" />
                      <span
                        class="link-primary pointer"
                        [ngClass]="{ invisible: !isEdit }"
                        (click)="removeImg()"
                        >Remover</span
                      >
                    </ng-container>
                  </div>

                  <div class="col-12 col-md-8 mt-3 mt-md-0 text-center">
                    <input
                      #imagemPerfil
                      [disabled]="!isEdit"
                      id="imagemPerfil"
                      type="file"
                      accept=".jpg, .gif, .png"
                      class="form-control"
                      (change)="attachImg($event)"
                    />
                    <small class="text-primary"
                      >JPG, GIF ou PNG. Tamanho máximo de 800k</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="access-level">
              <div formGroupName="acessos">
                <div class="col-12">
                  <div class="card-title border-bottom border-1">
                    <span>Acessos</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <label for="grupousuarios" class="form-label"
                      >Grupo de Usuários</label
                    >
                    <ng-select
                      id="grupos"
                      placeholder="Desabilitado"
                      formControlName="grupos"
                    >
                      <ng-option
                        *ngFor="let placeholder of placeholderList"
                        [value]="placeholder.id"
                        >{{ placeholder.label }}</ng-option
                      >
                    </ng-select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <label for="status" class="form-label">Status</label>
                    <ng-select
                      id="status"
                      placeholder="Desabilitado"
                      formControlName="status"
                    >
                      <ng-option
                        *ngFor="let placeholder of placeholderList"
                        [value]="placeholder.id"
                        >{{ placeholder.label }}</ng-option
                      >
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="professional-info">
              <div formGroupName="prof">
                <div class="col-12">
                  <div class="card-title border-bottom border-1">
                    <span>Informações Profissionais</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="col-12">
                      <label for="organizacao" class="form-label"
                        >Organizacao</label
                      >
                      <ng-select
                        id="organizacao"
                        placeholder="Desabilitado"
                        formControlName="organizacao"
                      >
                        <ng-option
                          *ngFor="let placeholder of placeholderList"
                          [value]="placeholder.id"
                          >{{ placeholder.label }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <div class="col-12">
                      <label for="dptosetor" class="form-label"
                        >Departamento / Setor</label
                      >
                      <ng-select
                        id="dpto"
                        placeholder="Desabilitado"
                        read
                        formControlName="dpto"
                      >
                        <ng-option
                          *ngFor="let placeholder of placeholderList"
                          [value]="placeholder.id"
                          >{{ placeholder.label }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <label for="cargo" class="form-label">Cargo</label>
                    <input
                      id="cargo"
                      type="text"
                      placeholder="Desabilitado"
                      class="form-control"
                      formControlName="cargo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2" id="interactbtns">
        <div class="col d-flex flex-row-reverse">
          <button
            type="button"
            class="btn btn-primary mx-1"
            [hidden]="!isEdit && formMode != 'criar'"
            (click)="submitPersonForm(this.personForm)"
          >
            <i class="fa-solid fa-plus"></i>
            <span>{{ formMode == "editar" ? "Atualizar" : "Cadastrar" }}</span>
          </button>

          <button
            type="button"
            class="btn btn-outline-danger mx-1"
            (click)="cancelForm()"
          >
            <i class="fa-solid fa-x"></i>
            <span>Cancelar</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #placeholderImg>
  <i
    class="fa-solid fa-user fa-3x pt-3 h-100 w-100 border border-1 rounded"
  ></i>
</ng-template>

<ng-template #appAlert let-controlName="controlName">
  <siscap-alert
    [control]="personForm.get(controlName) ?? undefined"
  ></siscap-alert>
</ng-template>

<!-- <ng-select
  id="placeholder"
  placeholder="placeholder"
  formControlName="placeholder"
>
  <ng-option
    *ngFor="let placeholder of placeholderList"
    [value]="placeholder.id"
    >{{ placeholder.label }}
  </ng-option>
</ng-select> -->
