<div class="h-100" *ngIf="loading">
  <siscap-loading></siscap-loading>
</div>

<div class="person-form" *ngIf="!loading">
  <form [formGroup]="personForm">
    <div class="row ">

      <div class="col-12 col-md-8">
        <div class="card shadow border-light mb-3">
          <div class="card-header bg-white">
            <h5 class="card-title">Informações Pessoais</h5>
          </div>
          <div class="card-body">
            <div class="personal-info">
              <div class="row">

                <div class="col-12 col-md-12 mb-2 mb-md-0">
                  <label for="nome" class="form-label col-12"
                  >Nome Completo
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'nome' }
                      "
                    ></ng-container>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="nome"
                    formControlName="nome"
                  />
                </div>
                <div class="col-12 col-md-12 mb-2 mb-md-0">
                  <label for="nomeSocial" class="form-label col-12"
                  >Nome Social
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'nomeSocial' }
                      "
                    ></ng-container>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="nomeSocial"
                    formControlName="nomeSocial"
                  />
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="cpf" class="form-label col-12">
                    CPF
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'cpf' }
                      "
                    ></ng-container
                    >
                  </label>
                  <input
                    mask="000.000.000-00"
                    type="text"
                    class="form-control"
                    id="cpf"
                    formControlName="cpf"
                  />
                </div>

                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="nacionalidade" class="form-label col-12"
                  >Nacionalidade
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'nacionalidade' }
                      "
                    ></ng-container>
                  </label>
                  <ng-select
                    id="nacionalidade"
                    placeholder="-- Nacionalidade --"
                    formControlName="nacionalidade"
                  >
                    <ng-option
                      *ngFor="let nacionalidade of nacionalidadesList"
                      [value]="nacionalidade"
                    >{{ nacionalidade }}
                    </ng-option
                    >
                  </ng-select>
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="genero" class="form-label col-12"
                  >Gênero
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'genero' }
                      "
                    ></ng-container
                    >
                  </label>
                  <ng-select
                    id="genero"
                    placeholder="-- Gênero --"
                    formControlName="genero"
                  >
                    <ng-option
                      *ngFor="let genero of generosList"
                      [value]="genero"
                    >{{ genero }}
                    </ng-option
                    >
                  </ng-select>
                </div>

                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="email" class="form-label col-12">E-mail
                    <ng-container *ngTemplateOutlet=" appAlert; context: { controlName: 'email' }"></ng-container>
                  </label>
                  <input type="text" class="form-control" id="email" formControlName="email"/>
                </div>

                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="telefonePessoal" class="form-label col-12"
                  >Telefone Pessoal
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'telefonePessoal' }
                      "
                    ></ng-container
                    >
                  </label>

                  <input
                    type="text"
                    class="form-control"
                    id="telefonePessoal"
                    formControlName="telefonePessoal"
                  />
                </div>
                <div class="col-12 col-md-6 mb-2 mb-md-0">
                  <label for="telefoneComercial" class="form-label col-12"
                  >Telefone Comercial
                    <ng-container
                      *ngTemplateOutlet="
                        appAlert;
                        context: { controlName: 'telefoneComercial' }
                      "
                    ></ng-container>
                  </label>

                  <input
                    type="text"
                    class="form-control"
                    id="telefoneComercial"
                    formControlName="telefoneComercial"
                  />
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card shadow border-light mb-3">
          <div class="card-header bg-white">
            <h5 class="card-title">Foto de Perfil</h5>
          </div>
          <div class="card-body">
            <div class="profile-img">

              <div class="row">
                <div class="d-flex flex-column flex-md-row justify-content-md-around align-items-center">
                  <div class="col-12 col-md-4 mb-3 mb-md-0 text-center photo-upload">
                    <ng-container>
                      <img [src]="photoUSer" class="uploaded-photo"/>
                      <span class="link-primary pointer" [hidden]="!uploadedPhotoSrc" [ngClass]="{ invisible: !isEdit}"
                            (click)="removeImg()">Remover</span>
                    </ng-container>
                  </div>

                  <div class="col-12 col-md-8 mt-3 mt-md-0 text-center">
                    <input #imagemPerfil [disabled]="!isEdit && formMode != 'criar'" id="imagemPerfil" type="file"
                           accept=".jpg, .gif, .png" class="form-control" (change)="attachImg($event)"/>
                    <small class="text-primary">JPG, GIF ou PNG. Tamanho máximo de 800k</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow border-light mb-3">

          <div class="card-header bg-white">
            <h5 class="card-title">Informações Profissionais</h5>
          </div>
          <div class="card-body">
            <div class="professional-info">

              <div class="row">
                <div class="col-12">
                  <div class="col-12">
                    <label for="idOrganizacao" class="form-label col-12">
                      Organização
                      <ng-container
                        *ngTemplateOutlet=" appAlert; context: { controlName: 'idOrganizacao' } "></ng-container>
                    </label>
                    <ng-select id="idOrganizacao" placeholder="-- Organização --" formControlName="idOrganizacao">
                      <ng-option *ngFor="let organizacao of organizacoesList"
                                 [value]="organizacao.id">{{ organizacao.nome }}
                      </ng-option>
                    </ng-select>
                  </div>

                  <div class="col-12 mt-3">
                    <label for="idAreasAtuacao" class="form-label col-12">
                      Áreas de Atuação
                      <ng-container
                        *ngTemplateOutlet=" appAlert; context: { controlName: 'idAreasAtuacao' } "></ng-container>
                    </label>
                    <ng-select [multiple]="true" [hideSelected]="true" id="idAreasAtuacao"
                               placeholder="-- Áreas de Atuação --" formControlName="idAreasAtuacao">
                      <ng-option *ngFor="let area of areasAtuacaoList" [value]="area.id">{{ area.nome }}</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-12 col-md-12 ">
        <div class="card shadow border-light">
          <div class="card-header bg-white">
            <h5 class="card-title">Informações de Endereço</h5>
          </div>
          <div class="card-body">
            <div class="address-info">
              <div formGroupName="endereco">
                <div class="col-12">
                </div>

                <div class="row">
                  <div class="col-12 col-md-8 mb-2 mb-md-0">
                    <label for="endereco.rua" class="form-label col-12"
                    >Logradouro
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.rua' }
                        "
                      ></ng-container>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="endereco.rua"
                      formControlName="rua"
                    />
                  </div>
                  <div class="col-12 col-md-2 mb-2 mb-md-0">
                    <label for="endereco.numero" class="form-label col-12"
                    >Número
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.numero' }
                        "
                      ></ng-container>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="endereco.numero"
                      formControlName="numero"
                    />
                  </div>
                  <div class="col-12 col-md-2 mb-2 mb-md-0">
                    <label
                      for="endereco.codigoPostal"
                      class="form-label col-12"
                    >
                      Código Postal
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.codigoPostal' }
                        "
                      ></ng-container>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="endereco.codigoPostal"
                      formControlName="codigoPostal"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-8 mb-2 mb-md-0">
                    <label for="endereco.complemento" class="form-label col-12">
                      Complemento
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.complemento' }
                        "
                      ></ng-container>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="endereco.complemento"
                      formControlName="complemento"
                    />
                  </div>

                  <div class="col-12 col-md-4 mb-2 mb-md-0">
                    <label for="endereco.bairro" class="form-label col-12">
                      Bairro
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.bairro' }
                        "
                      ></ng-container>
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="endereco.bairro"
                      formControlName="bairro"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-4 mb-2 mb-md-0">
                    <label for="pais" class="form-label col-12">
                      País
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.idPais' }
                        "
                      ></ng-container>
                    </label>
                    <ng-select
                      id="pais"
                      placeholder="-- Pais --"
                      formControlName="idPais"
                      (change)="paisChanged($event)"
                    >
                      <ng-option
                        *ngFor="let pais of paisesList"
                        [value]="pais.id"
                      >{{ pais.nome }}
                      </ng-option
                      >
                    </ng-select>
                  </div>
                  <div class="col-12 col-md-4 mb-2 mb-md-0">
                    <label for="estado" class="form-label col-12">
                      Estado
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.idEstado' }
                        "
                      ></ng-container>
                    </label>
                    <ng-select
                      id="estado"
                      placeholder="-- Estado --"
                      formControlName="idEstado"
                      (change)="estadoChanged($event)"
                    >
                      <ng-option
                        *ngFor="let estado of estadosList"
                        [value]="estado.id"
                      >{{ estado.nome }}
                      </ng-option
                      >
                    </ng-select>
                  </div>
                  <div class="col-12 col-md-4 mb-2 mb-md-0">
                    <label for="endereco.idCidade" class="form-label col-12">
                      Cidade
                      <ng-container
                        *ngTemplateOutlet="
                          appAlert;
                          context: { controlName: 'endereco.idCidade' }
                        "
                      ></ng-container>
                    </label>
                    <ng-select id="endereco.idCidade" placeholder="-- Cidade --" formControlName="idCidade">
                      <ng-option *ngFor="let cidade of cidadesList" [value]="cidade.id">{{ cidade.nome }}</ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<ng-template #importPersonModal let-modal>
  <div class="modal-header">
    <h4 id="import-person-modal" class="modal-title text-dark">Importar pessoa do Acesso Cidadão</h4>
    <button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="importByCpfForm">
      <label for="importByCpf" class="form-label col-12">
        Digite o CPF
      </label>
      <input type="text" mask="000.000.000-00" ngbAutofocus class="form-control" id="importByCpf"
             formControlName="cpfImport"/>
    </form>
  </div>
  <div class="d-flex justify-content-end gap-3 pb-3 mx-3">
    <button class="btn btn-outline-danger" (click)="modal.dismiss()">
      <i class="fa fa-times mx-1"></i>
      Cancelar
    </button>
    <button class="btn btn-primary" (keydown.enter)="importar(); modal.close()" (click)="importar(); modal.close()">
      <i class="fa fa-check mx-1"></i>
      Importar
    </button>
  </div>
</ng-template>

<ng-template #placeholderImg>
  <i class="fa-solid fa-user fa-3x pt-3 h-100 w-100 border border-1 rounded"></i>
</ng-template>

<ng-template #appAlert let-controlName="controlName">
  <siscap-alert [control]="personForm.get(controlName) ?? undefined"></siscap-alert>
</ng-template>
