.card {
  .card-body {
    .form-label {
      margin-bottom: .5rem;
    }

    .no-pointer-effects {
      pointer-events: none;
    }

    .assinaturas {
      font-size: 13px;

      .assinatura-title {
        margin-bottom: .5rem;
      }

      .assinatura-wrap {
        &:nth-of-type(odd) {
          padding-right: .25em;
          margin-bottom: .5em;
        }
        &:nth-of-type(even) {
          padding-left: .25em;
          margin-bottom: .5em;
        }

        .assinatura-box {
          background-color: #E9ECEF;
          border: 1px solid #CCC;
          border-radius: 10px;
  
          .cargo-assinante {
            font-weight: bold;
            text-transform: uppercase;
          }

          .acoes-assinatura {
            .botao-recusar, .botao-assinar {
              width: 100%;

              @media screen and (min-width: 768px) {
                width: 25%;
              }
            }
          }
  
          .status-assinatura {
            &.check-icon {
              color: #2FBB34
            }
            &.error-icon {
              color: red;
            }
          }
  
          .data-assinatura {
            font-weight: bold;
          }

          .erro-assinatura {
            color: red;
          }
        }
      }
    }
  }
}