<div class="h-100" *ngIf="isLoading">
  <loading-spinner></loading-spinner>
</div>

<div
  *ngIf="!isLoading"
  class="card"
>
  <div class="card-body">
    <form class="row g-3" [formGroup]="formPrograma">
      <div class="col-12 col-sm-8">
        <label class="form-label no-pointer-effects" for="inputTitulo">Título</label>
        <input class="form-control no-pointer-effects" type="text" formControlName="tituloPrograma" id="inputTitulo" readonly>
      </div>
      <div class="col-12 col-sm-4">
        <label class="form-label no-pointer-effects" for="inputSigla">Sigla</label>
        <input class="form-control no-pointer-effects" type="text" formControlName="siglaPrograma" id="inputSigla" readonly>
      </div>
      <!-- <div class="col-12">
        <label class="form-label no-pointer-effects" for="inputOrgao">
          {{ programaAtual.nomesOrgaosExecutores.length > 1 ? 'Órgãos Executores' : 'Órgão Executor' }}
        </label>
        <ng-container *ngFor="let orgao of programaAtual.nomesOrgaosExecutores; let idx = index">
          <input class="form control no-pointer-effects" type="text" [formControlName]="'orgao' + (idx + 1)" id="inputOrgao">
        </ng-container>
      </div> -->
      <div class="col-12">
        <label class="form-label no-pointer-effects" for="inputOrgao">
          {{ programaAtual.nomesOrgaosExecutores.length > 1 ? 'Órgãos Executores' : 'Órgão Executor' }}
        </label>
        <ng-select id="inputOrgao" [multiple]="true" formControlName="orgaosPrograma" [disabled]="true">
          <ng-option *ngFor="let organizacao of programaAtual.nomesOrgaosExecutores" [value]="organizacao">
            {{ organizacao }}
          </ng-option>
        </ng-select>
      </div>
    </form>
  </div>
</div>