.sigla-col {
  width: 10%;
}

.titulo-col {
  width: 50%;
}

.status-col {
  width: 12%;
}

// .microrregioes-col {
//   width: 20%;
// }

.valorEstimado-col {
  width: 12%;
}

.rascunho-col {
  width: 11%;
}

.acoes-col {
  width: 5%;
}
