.sigla-col {
  width: 10%;
}

.titulo-col {
  width: 55%;
}

.status-col {
  width: 15%;
}

// .microrregioes-col {
//   width: 20%;
// }

.valorEstimado-col {
  width: 15%;
}

.acoes-col {
  width: 5%;
}
