<div class="modal-header bg-danger-subtle">
  <h4 class="modal-title">Atenção!</h4>
</div>
<div class="modal-body text-center">
  <p class="fw-bold">{{ nomeProjeto }}</p>
  <p>O projeto selecionado não possui parecer de captação enviado.</p>
  <p class="fw-bold">{{ nomePrograma }}</p>
  <p>Não é possível vincular o projeto á este programa até que o parecer de captação seja enviado para SUBCAP!</p>
</div>

<div class="modal-footer d-flex justify-content-center">
  <siscap-botao
    [propriedades]="botaoEntendi"
    (acao)="activeModal.dismiss()"
  ></siscap-botao>
</div>
