* {
  margin: 0;
  padding: 0;
}

.login-component {
  height: 100vh;
  width: 100vw;
  background-color: rgba(215, 215, 215, 0.792156862745098);
}

.card-body {
  height: 48vh;
  width: 33vw;
}

.card-content {
  height: 100%;
  width: 100%;
}

/* Quantidade ainda não definida */
.siscap-logo {
  margin-top: 15%;
}

.login-button {
  height: 13%;
  width: 100%;
}

.login-button button{
  height: 100%;
  width: 49%;
}

.login-button button span {
  font-size: calc(2.8 * 0.6vw); 
  font-weight: bold;
}

.legal-footer span {
  font-size: calc(1.4 * 0.6vw);
  color: #7f7f7f;
}

.test {
  border: 1px solid black;
}