// .container-fluid {
//   background-color: rgba(215, 215, 215, 0.792156862745098);
// }

// .card-body {
//   background-color: white;
// }

// .legal-footer span {
//   font-size: 0.9rem;
//   color: #7f7f7f;
// }
.logo img{
  width: 65%;
  margin: auto;
  display: grid;
}

@media screen and (max-width: 768px) {
  .logo img{
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .logo img{
    width: 90%;
  }
}