<div class="container-fluid bg-secondary vh-100">
  <div
    class="col-12 col-sm-9 col-md-5 h-50 position-absolute top-50 start-50 translate-middle"
  >
    <div class="card h-100">
      <div class="card-body shadow">
        <div
          class="h-100 d-flex flex-column justify-content-between align-items-center"
        >
          <div class="col-md-6 text-center mt-5">
            <img
              class="w-100"
              src="../../../../assets/images/siscap.png"
            />
          </div>

          <div class="login-button col-9 col-sm-8 col-md-6 d-grid">
            <button class="btn btn-lg btn-primary" (click)="logIn()">
              <span>Entrar</span>
            </button>
          </div>

          <div
            class="legal-footer d-flex flex-column align-items-center text-center"
          >
            <span> &#169; SISCAP 2024</span>
            <span>Secretaria de Economia e Planejamento do Espírito Santo</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
