
.logo img{
  width: 65%;
  margin: auto;
  display: grid;
}

@media screen and (max-width: 768px) {
  .logo img{
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .logo img{
    width: 90%;
  }
}