.imagemPerfil-col {
  width: 5%;
}

.nomeFantasia-col {
  width: 10%;
}

.nome-col {
  width: 35%;
}

.tipo-col {
  width: 15%;
}

.telefone-col {
  width: 10%;
}

.site-col {
  width: 20%;
}

.acoes-col {
  width: 5%;
}
