.imagemPerfil-col {
  width: 6%;
}

.nomeFantasia-col {
  width: 8%;
}

.nome-col {
  width: 24%;
}

.tipo-col {
  width: 12%;
}

.telefone-col {
  width: 12%;
}

.site-col {
  width: 12%;
}

.acoes-col {
  width: 5%;
}
