<div ngbDropdown>
  <button class="btn border-none" ngbDropdownToggle>
    <i class="fa-solid fa-ellipsis"></i>
  </button>
  <div ngbDropdownMenu>
    <button ngbDropdownItem (click)="emitirAcao('editar')">
      <i class="fa-solid fa-pen-to-square me-2"></i>
      <span>Editar</span>
    </button>
    <button
      *ngIf="permissaoDeletar"
      ngbDropdownItem
      (click)="emitirAcao('deletar')"
    >
      <i class="fa-solid fa-trash-can me-2"></i>
      <span>Excluir</span>
    </button>
  </div>
</div>
