<div class="h-100" *ngIf="loading">
  <loading-spinner></loading-spinner>
</div>

<div class="row py-2" *ngIf="!loading">
  <siscap-table-search
    [textInputPlaceholder]="
      '-- Pesquisar por nome, e-mail ou organização pertencente da pessoa --'
    "
    (filtroPesquisaOutput)="filtroPesquisaOutputEvent($event)"
  ></siscap-table-search>
</div>

<div class="card shadow border-light p-3" *ngIf="!loading">
  <ng-container *ngIf="(pessoasList$ | async)?.length! > 0; else semResultados">
    <siscap-pessoas-list
      [pessoasList]="pessoasList$ | async"
      (sortableDirectiveOutput)="sortableDirectiveOutputEvent($event)"
    >
      <siscap-pagination
        [paginacaoDadosInput]="paginacaoDados"
        (paginacaoOutput)="paginacaoOutputEvent($event)"
      ></siscap-pagination>
    </siscap-pessoas-list>
  </ng-container>
</div>

<ng-template #semResultados>
  <query-no-results></query-no-results>
</ng-template>
