<div class="entity-interaction mx-3">
  <div class="search-input col-6 col-sm-4 col-md-2 ms-auto">
    <div class="input-group ms-auto ms-sm-0">
      <input type="text" placeholder="Pesquisar..." class="form-control" />
      <button class="input-group-text px-2" (click)="queryEntity()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <div class="entity-datatable">
    <div class="row g-0 mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <p-table
              [value]="entidadesList"
              tableStyleClass="table table-striped"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 5%"></th>
                  <th>Sigla</th>
                  <th>Entidade</th>
                  <th>Tipo</th>
                  <th>Telefone</th>
                  <th>Site</th>
                  <!-- <th>Status</th> -->
                  <th style="width: 5%">Ações</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-entidade>
                <tr>
                  <td>
                    <ng-container
                      *ngIf="
                        entidade.imagemPerfil;
                        else standardProfileImageTemplate
                      "
                    >
                      <ng-container
                        *ngTemplateOutlet="
                          profileImageTemplate;
                          context: { imgSrc: entidade.imagemPerfil }
                        "
                      ></ng-container>
                    </ng-container>
                  </td>
                  <td>{{ entidade.abreviatura }}</td>
                  <td>{{ entidade.nome }}</td>
                  <td>{{ entidade.nomeTipoEntidade }}</td>
                  <td>{{ entidade.telefone }}</td>
                  <td>{{ entidade.site }}</td>
                  <td>
                    <table-action-buttons-template
                      [rowData]="entidadeDataInput(entidade)"
                      (deleteId)="deleteEntidade($event)"
                    ></table-action-buttons-template>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #profileImageTemplate let-imgSrc="imgSrc">
  <img
    [src]="convertByteArraytoImg(imgSrc)"
    alt=""
    class="profile-pic rounded-circle"
  />
</ng-template>

<ng-template #standardProfileImageTemplate>
  <div
    class="profile-pic border rounded-circle d-flex justify-content-center align-items-center"
  >
    <i class="fa-solid fa-user"></i>
  </div>
</ng-template>
