<form [formGroup]="valorService.valorFormGroup">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-2">
      <label for="valor-moeda" class="col-12 form-label">
        <validation-message [control]="getControl('moeda')">
          Moeda
        </validation-message>
      </label>
      <ng-select
        id="valor-moeda"
        placeholder="-- Moeda --"
        [clearable]="false"
        formControlName="moeda"
      >
        <ng-option *ngFor="let moeda of moedasList()" [value]="moeda.codigo">
          {{ moeda.texto }} ({{ moeda.simbolo }})
        </ng-option>
      </ng-select>
    </div>

    <div id="valor-col" class="col-12 col-md-4 col-lg-7">
      <label for="valor-quantia" class="col-12 form-label">
        <validation-message [control]="getControl('quantia')">
          Valor
        </validation-message>
      </label>
      <input
        mask="separator.2"
        [prefix]="
          getSimboloMoeda(valorService.valorFormGroup.controls.moeda.value)
        "
        thousandSeparator="."
        decimalMarker=","
        [inputTransformFn]="rtlCurrencyInputTransformFn"
        [outputTransformFn]="rtlCurrencyOutputTransformFn"
        type="text"
        id="valor-quantia"
        class="form-control"
        formControlName="quantia"
        min="1"
      />
    </div>

    <div class="col-12 col-md-4 col-lg-3">
      <label for="valor-tipo" class="col-12 form-label">
        <validation-message [control]="getControl('tipo')">
          Tipo de Valor
        </validation-message>
      </label>
      <ng-select
        id="valor-tipo"
        placeholder="-- Tipo --"
        [clearable]="false"
        formControlName="tipo"
      >
        <ng-option
          *ngFor="let tipoValor of tiposValorOpcoes()"
          [value]="tipoValor.id"
        >
          {{ tipoValor.nome }}
        </ng-option>
      </ng-select>
    </div>
  </div>
</form>
