<form [formGroup]="valorService.valorFormGroup">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-2">
      <label
        class="col-12 form-label"
        for="valor-moeda"
        [ngClass]="{ 'alerta-complementar-campo': deveComplementarCampo('moeda') }"
      >
        <validation-message [control]="getControl('moeda')">
          Moeda
          @if (deveComplementarCampo('moeda')) {
            <form-warning-tooltip [texto]="mensagemComplementarCampo('moeda')"></form-warning-tooltip>
          }
        </validation-message>
      </label>
      <ng-select
        id="valor-moeda"
        placeholder="-- Moeda --"
        formControlName="moeda"
        [clearable]="false"
        [readonly]="true"
      >
        @for (moeda of moedasList(); track moeda) {
          <ng-option [value]="moeda.codigo">
            {{ moeda.texto }} ({{ moeda.simbolo }})
          </ng-option>
        }
      </ng-select>
    </div>

    <div id="valor-col" class="col-12 col-md-4 col-lg-7">
      <label
        class="col-12 form-label"
        for="valor-quantia"
        [ngClass]="{ 'alerta-complementar-campo': deveComplementarCampo('quantia') }"
      >
        <validation-message [control]="getControl('quantia')">
          Valor Estimado
          <form-helper-tooltip
            [texto]="contextoValor() === 'PROGRAMA' ? projetoTooltip['valorTotalEstimadoPrograma'] : projetoTooltip['valorEstimado']"
          >
          </form-helper-tooltip>
          @if (deveComplementarCampo('quantia')) {
            <form-warning-tooltip [texto]="mensagemComplementarCampo('quantia')"></form-warning-tooltip>
          }
        </validation-message>
      </label>
      <input
        class="form-control"
        id="valor-quantia"
        type="text"
        formControlName="quantia"
        min="1"
        mask="separator.2"
        thousandSeparator="."
        decimalMarker=","
        [prefix]="getSimboloMoeda(valorService.valorFormGroup.controls.moeda.value)"
        [inputTransformFn]="rtlCurrencyInputTransformFn"
        [outputTransformFn]="rtlCurrencyOutputTransformFn"
      />
    </div>

    <div class="col-12 col-md-4 col-lg-3">
      <label
        class="col-12 form-label"
        for="valor-tipo"
        [ngClass]="{ 'alerta-complementar-campo': deveComplementarCampo('tipo') }"
      >
        <validation-message [control]="getControl('tipo')">
          Tipo de Valor
          @if (deveComplementarCampo('tipo')) {
            <form-warning-tooltip [texto]="mensagemComplementarCampo('tipo')"></form-warning-tooltip>
          }
        </validation-message>
      </label>
      <ng-select
        id="valor-tipo"
        placeholder="-- Tipo --"
        formControlName="tipo"
        [clearable]="false"
        [readonly]="true"
      >
        @for (tipoValor of tiposValorOpcoes(); track tipoValor) {
          <ng-option [value]="tipoValor.id">
            {{ tipoValor.nome }}
          </ng-option>
        }
      </ng-select>
    </div>
  </div>
</form>