<button class="btn btn-primary mb-5" (click)="botaoSubAgentePublicoPorCpf()">
  BUSCA SUB DO AGENTE PUBLICO POR CPF
</button>
<br />
<button class="btn btn-primary mb-5" (click)="botaoPapeisPorSub()">
  LISTA PAPEIS DO AGENTE PUBLICO POR SUB
</button>
<br />
<button class="btn btn-primary mb-5" (click)="botaoUnidadeInfo()">
  LISTA INFORMACOES DA UNIDADE POR LOTACAOGUID
</button>
<br />
<button class="btn btn-primary mb-5" (click)="botaoDadosOrganizacao()">
  LISTA DADOS DA ORGANIZACAO POR GUID (organizacaoPai)
</button>
<br />

<siscap-dashboard></siscap-dashboard>
