<siscap-dashboard></siscap-dashboard>

<!-- <div class="row h-100 gx-0 px-2">
  <div class="col-3 mx-2">
    <div class="card my-3">
      <div class="card-body">
        <h4 class="card-title">Objeto 1</h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
          consectetur id tempora nobis excepturi ex maxime, nam, consequuntur
          reiciendis dolor quibusdam officia. Eaque, temporibus aspernatur?
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h4 class="card-title">Objeto 2</h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
          consectetur id tempora nobis excepturi ex maxime, nam, consequuntur
          reiciendis dolor quibusdam officia. Eaque, temporibus aspernatur?
        </p>
      </div>
    </div>
  </div>
  <div class="col-3 mx-2">
    <div class="card my-3">
      <div class="card-body">
        <h4 class="card-title">Objeto 3</h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
          consectetur id tempora nobis excepturi ex maxime, nam, consequuntur
          reiciendis dolor quibusdam officia. Eaque, temporibus aspernatur?
        </p>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h4 class="card-title">Objeto 4</h4>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
          consectetur id tempora nobis excepturi ex maxime, nam, consequuntur
          reiciendis dolor quibusdam officia. Eaque, temporibus aspernatur?
        </p>
      </div>
    </div>
  </div>

  <div class="col h-100">
    <div class="card my-3 h-100">
      <div class="card-body h-100">
        <img class="h-100 w-100" src="../../../assets/svg/mapaES.svg" />
      </div>
    </div>
  </div>
</div> -->
