* {
  margin: 0;
  padding: 0;
}

@media (max-width: 576px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu {
  height: 100%;
}

.main-content {
  height: 100vh;
}

.test {
  border: 1px solid black;
}
