/* 
  Valor aproximado do somatório das alturas dos seguintes componentes/elementos:
  * <siscap-header>
    |-> <img class="siscap-logo">
    |-> <siscap-nav-menu>
    |-> <siscap-user-profile>
  * <siscap-breadcrumb>

  Utilizado para ajustar o valor da propriedade margin-top da seção que encapsula conteúdo 
  principal da aplicação (<router-outlet>), devido á propriedade position: absolute de algum(ns) 
  elemento(s) acima.
*/
$main-content-margin-top: 225px;
$main-content-margin-top-proponente: 185px;

section.main-content-wrapper {
  margin-top: $main-content-margin-top;
  margin-bottom: 4rem;
}

section.main-content-wrapper-proponente {
  margin-top: $main-content-margin-top-proponente;
  margin-bottom: 4rem;
}

section#footer-content {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -1 !important;

  div.footer {
    height: 3rem;

    span {
      font-size: 0.875rem;
    }
  }
}

/*
  Valor calculado para breakpoints abaixo de 767px (smartphones e tablets em modo retrato). 
  Leva em consideração a redução do padding de <siscap-breadcrumb>.
*/
@media (max-width: 767px) {
  section.main-content-wrapper {
    margin-top: calc($main-content-margin-top - 4vw);
  }

  section.main-content-wrapper-proponente {
    margin-top: calc($main-content-margin-top-proponente - 4vw);
  }
}
