<section id="header-content" class="w-100 position-fixed top-0 start-0 z-3">
  <siscap-header></siscap-header>

  <siscap-breadcrumb></siscap-breadcrumb>
</section>

<div class="container-fluid gx-0">
  <section id="main-content">
    <div class="row gx-0">
      <div class="col-10 col-xl-8 mx-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</div>

<section id="footer-content">
  <div class="footer col-10 mx-auto d-flex justify-content-center text-center">
    <span class="text-secondary align-content-center">
      &#169; SISCAP 2024 - Secretaria de Economia e Planejamento do Espírito
      Santo</span
    >
  </div>
</section>

<siscap-toast></siscap-toast>
