<div class="container-fluid vh-100">
  <div class="row h-100">
    <div
      class="nav-menu shadow h-100 gx-0 col-12 col-md-2 d-none d-md-block"
      id="nav-menu"
    >
      <siscap-navmenu></siscap-navmenu>
    </div>
    <div
      class="h-100 gx-0 col-12 col-md-10 d-flex flex-column"
      id="responsive-content"
    >
      <div class="header-bar col-12">
        <siscap-header></siscap-header>
      </div>
      <div class="breadcrumb-area col-12 mb-5">
        <siscap-breadcrumb></siscap-breadcrumb>
      </div>
      <div class="main-content col overflow-y-hidden">
        <router-outlet></router-outlet>
      </div>
      <div
        class="legal-footer col-12 d-flex flex-column justify-content-center align-items-center text-center"
      >
        <span>
          &#169; SISCAP 2024 - Secretaria de Economia e Planejamento do Espírito
          Santo</span
        >
      </div>
    </div>
  </div>
</div>
