section#main-content {
  margin-top: 10.5%;
  margin-bottom: 4rem;
}

section#footer-content {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -1 !important;

  div.footer {
    height: 3rem;

    span {
      font-size: 0.875rem;
    }
  }
}
