@media (max-width: 576px) {
  .input-group {
    width: 10rem;
  }
}

.sigla-col {
  width: 4%;
}

.titulo-col {
  width: 32%;
}

.microrregioes-col {
  width: 32%;
}

.valorEstimado-col {
  width: 32%;
}
