<div class="project-interaction d-flex mx-2">
  <div class="col-xs-6 col-md-2 new-project-button">
    <button
      class="btn btn-primary px-3 py-1"
      (click)="redirectProjectCreateEdit()"
    >
      Novo Projeto
    </button>
  </div>
  <div class="col-xs-6 col-md-2 ms-auto search-input">
    <div class="input-group">
      <input type="text" placeholder="Pesquisar..." class="form-control" />
      <button class="input-group-text px-2" (click)="queryProject()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
</div>

<div class="project-datatable mt-4 mx-auto">
  <app-data-table
    [dataTableRows]="projetosList"
    [source]="'projetos'"
    (actionEvent)="handleEvent($event)"
  ></app-data-table>
</div>
