<div class="project-interaction d-flex mx-2">
  <div class="col-xs-6 col-md-2 new-project-button">
    <button class="btn btn-primary px-3 py-1" (click)="redirectNewProject()">
      Novo Projeto
    </button>
  </div>
  <div class="col-xs-6 col-md-2 ms-auto search-input">
    <div class="input-group">
      <input type="text" placeholder="Pesquisar..." class="form-control" />
      <button class="input-group-text px-2" (click)="queryProject()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
</div>

<div class="project-datatable mt-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>A</th>
        <th>B</th>
        <th>C</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>value1</td>
        <td>value2</td>
      </tr>
      <tr>
        <td>2</td>
        <td>value1</td>
        <td>value2</td>
      </tr>
      <tr>
        <td>3</td>
        <td>value1</td>
        <td>value2</td>
      </tr>
      <tr>
        <td>4</td>
        <td>value1</td>
        <td>value2</td>
      </tr>
      <tr>
        <td>5</td>
        <td>value1</td>
        <td>value2</td>
      </tr>
    </tbody>
  </table>
</div>
