<div class="modal-header bg-warning-subtle">
  <h4 class="modal-title">Atenção!</h4>
</div>
<div class="modal-body text-center">
  <p class="fw-bold">{{ nomeProjeto }}</p>
  <p>O projeto selecionado já está vinculado ao seguinte programa:</p>
  <p class="fw-bold">{{ nomePrograma }}</p>
  <p>Vincular o projeto á este programa irá desvincula-lo do programa acima!</p>
</div>

<div class="modal-footer d-flex justify-content-center">
  <button class="btn btn-success icon-text-btn" (click)="activeModal.dismiss()">
    <i class="fa-solid fa-thumbs-up"></i>
    <span>Entendi</span>
  </button>
</div>
