<div class="modal-header bg-warning-subtle">
  <h4 class="modal-title">Atenção!</h4>
</div>
<div class="modal-body text-center">
  <p class="fw-bold">{{ nomeProjeto }}</p>
  <p>O DIC selecionado já está vinculado ao seguinte Programa:</p>
  <p class="fw-bold">{{ nomePrograma }}</p>
  <p>Vincular o DIC à este Programa irá desvinculá-lo do Programa acima!</p>
</div>

<div class="modal-footer d-flex justify-content-center">
  <siscap-botao
    [propriedades]="botaoEntendi"
    (acao)="activeModal.dismiss()"
  ></siscap-botao>
</div>
