div.municipio-card {
  border: 1px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 2px;
  background-color: #fafafa;
}

div.form-check {
  margin-left: 4rem;
}

label.form-check-label {
  vertical-align: text-bottom;
}

input.municipio-percentual-rateio,
input.municipio-quantia-rateio {
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  font-size: 0.8125rem;
  height: 1.5rem;
  width: 80%;
}
