<div class="project-form" *ngIf="isSubeo() || isSubepp() || isSubcapGeoc()">
  <form [formGroup]="parecerFormGroup">
    <div class="row ">
      <div class="col-12" *ngIf="isSubepp()">
        <p class="text-muted" style="font-size: 0.9rem; line-height: 1.4;">
          {{ MENSAGENS.PARECER_ESTRATEGICO }}
        </p>
        <p class="text-muted" style="font-size: 0.9rem; line-height: 1.4;">
          {{ MENSAGENS.O_SETOR_DEVERA_ELABORAR_UM_PARECER_ESTRATEGICO_ACERCA_DO_PROJETO_APRESENTADO_CONTEMPLANDO_OS_SEGUINTES_PONTOS }}
        </p>
        <ul class="text-muted" style="font-size: 0.9rem; line-height: 1.4; margin-left: 1rem;">
          <li>{{ MENSAGENS.INDICAR_E_OU_CONFIRMAR_O_ENQUADRAMENTO_DO_PROJETO_EM_RELACAO_AO_PLANEJAMENTO_ESTRATEGICO_DO_GOVERNO_VIGENTE_EI }}</li>
          <li>{{ MENSAGENS.SUGERIR_PROJETOS_DE_SUA_CARTEIRA_ESTRATEGICA_QUE_APRESENTEM_ALINHAMENTO_COM_O_TEMA_PROPOSTO }}</li>
          <li>{{ MENSAGENS.IDENTIFICAR_INDICADORES_ESTRATEGICOS_QUE_POSSAM_SER_ASSOCIADOS_AO_PROJETO_EM_ANALISE }}
          </li>
        </ul>
      </div>

      <div class="col-12" *ngIf="isSubeo()">
        <p class="text-muted" style="font-size: 0.9rem; line-height: 1.4;">
          {{ MENSAGENS.PARECER_ORCAMENTARIO }}
        </p>
        <p class="text-muted" style="font-size: 0.9rem; line-height: 1.4;">
          {{ MENSAGENS.O_SETOR_RESPONSAVEL_DEVERA_APRESENTAR_PARECER_QUANTO_A_ADEQUACAO_ORCAMENTARIA_DA_PROPOSTA_ABRANGENDO_OS_SEGUIN }}
        </p>
        <ul class="text-muted" style="font-size: 0.9rem; line-height: 1.4; margin-left: 1rem;">
          <li>{{ MENSAGENS.VERIFICAR_A_CONFORMIDADE_COM_A_LOA_LDO_E_PPA }}</li>
          <li>{{ MENSAGENS.INDICAR_A_DISPONIBILIDADE_DE_OUTRAS_FONTES_DE_RECURSOS_EVENTUALMENTE_ACESSIVEIS_AO_ORGAO_DEMANDANTE }}</li>
        </ul>
      </div>
      <div class="col-12" *ngIf="isSubcapGeoc()">
        <p class="text-muted" style="font-size: 0.9rem; line-height: 1.4;">
          {{ MENSAGENS.PARECER_CAPTACAO }}
        </p>
        <p class="text-muted" style="font-size: 0.9rem; line-height: 1.4;">
          {{ MENSAGENS.O_SETOR_RESPONSAVEL_DEVERA_ELABORAR_PARECER_ACERCA_DA_PROPOSTA_CONTEMPLANDO_OS_SEGUINTES_ASPECTOS }}
        </p>
        <ul class="text-muted" style="font-size: 0.9rem; line-height: 1.4; margin-left: 1rem;">
          <li>{{ MENSAGENS.DECLARAR_A_ELEGIBILIDADE_DA_PROPOSTA_PARA_PLEITO_DE_FINANCIAMENTO }}</li>
          <li>{{ MENSAGENS.AVALIAR_A_ADERENCIA_DO_PROJETO_A_CONTRATACOES_JA_REALIZADAS_OU_EM_PROSPECCAO_BEM_COMO_A_VIABILIDADE_DE_ASSOCIA }}</li>
          <li>{{ MENSAGENS.APRESENTAR_PROJECAO_DAS_TAXAS_QUE_PODERAO_COMPOR_EVENTUAL_OPERACAO_DE_CREDITO_CONSIDERANDO_CONTRATOS_FIRMADOS }}</li>
        </ul>
      </div>
    </div>

    <!-- Campo de Texto do Parecer -->
    <div class="row">

      <div class="col-12">

        <div class="d-flex justify-content-between align-items-center w-100 mb-2">

          <label for="textoParecer" class="form-label mb-0">
            <validation-message [control]="parecerFormGroup.get('textoParecer')!">
              {{ MENSAGENS.PARECER }}
            </validation-message>
          </label>

          <div class="d-flex align-items-center gap-3">

            <!-- Anexar -->
            <span [class.disabled-link]="isEnviado()" style="cursor:pointer;
             color:var(--blue);
             font-weight:700;
             font-size:12px;" (click)="selecionarPdf()" (keydown.enter)="selecionarPdf()"
              (keydown.space)="selecionarPdf()">
              <i class="fa fa-paperclip"></i> {{ MENSAGENS.ANEXAR_PARECER_EM_PDF }}
            </span>

            <!-- Download -->
            <span *ngIf="possuiAnexo()" style="cursor:pointer;
             color:#198754;
             font-weight:600;
             font-size:12px;" (click)="baixarPdfAnexo()" (keydown.enter)="baixarPdfAnexo()"
              (keydown.space)="baixarPdfAnexo()">
              <i class="fas fa-download"></i> {{ MENSAGENS.BAIXAR_PARECER }}
            </span>

            <!-- Excluir -->
            <span *ngIf="possuiAnexo() && !isEnviado()" style="cursor:pointer;
             color:#dc3545;
             font-weight:600;
             font-size:12px;" (click)="excluirPdfAnexo()" (keydown.enter)="excluirPdfAnexo()"
              (keydown.space)="excluirPdfAnexo()">
              <i class="fas fa-trash-can"></i> {{ MENSAGENS.EXCLUIR_ANEXO }}
            </span>

          </div>

          <input #pdfInput type="file" accept=".pdf,application/pdf" style="display:none"
            (change)="onPdfSelecionado($event)">
        </div>

        <textarea #editor id="textoParecer" class="form-control" rows="8" maxlength="10000"
          placeholder="{{ MENSAGENS.DIGITE_AQUI_O_TEXTO_DO_PARECER }}" [disabled]="isEnviado()">
        </textarea>

        <small class="text-muted d-block text-end ">
          {{ formatarMensagem(MENSAGENS.VALOR_10_000_CARACTERES, { p0: (this.textoLength) }) }}</small>

      </div>

    </div>

    <div *ngIf="isEnviado()" class="row mt-2">

      <div class="col-12">
        <strong>{{ MENSAGENS.PARECER_ENVIADO }}</strong> {{ MENSAGENS.NO_DIA }}
        <span class="text-primary">{{ this.parecerFormGroup.get('dataEnvioParecer')?.value | date:'dd/MM/yyyy' }}</span>
        {{ MENSAGENS.AS }}
        <span class="text-primary">{{ this.parecerFormGroup.get('dataEnvioParecer')?.value | date:'HH:mm' }}</span>
        {{ MENSAGENS.POR }}
        <span class="fw-semibold">{{ this.parecerFormGroup.get('usuarioFezEnvioParecer')?.value }}</span>
      </div>

    </div>

  </form>
</div>