<siscap-modal titulo="Processo E-Docs" [tamanhoCard]="tamanhoCard" [exibirFecharCabecalho]="false">
<div modalBody class="d-flex flex-column">
  @for (fase of fasesPolling; track fase) {
    <div class="d-flex flex-row align-items-center">
      <span class="pe-2">
        @switch (fase.status) {
          @case ('NAO_INICIADA') {
            <i class="fa-regular fa-circle text-secondary"></i>
          }
          @case ('EM_ANDAMENTO') {
            <i class="fa-solid fa-circle-notch fa-spin"></i>
          }
          @case ('FINALIZADA') {
            <i class="fa-regular fa-circle-check text-success"></i>
          }
          @case ('ERRO_FASE') {
            <i class="fa-solid fa-circle-xmark text-danger"></i>
          }
        }
      </span>
      <div>{{ fase.descricao }}</div>
    </div>
    @if (fase.msgAlertaExibir) {
      <div class="row">
        <span class="text-warning">{{ fase.msgAlertaExibir }}</span>
      </div>
    } @else if (fase.erro) {
      <div class="row">
        <span class="text-danger">{{ MENSAGENS.OCORREU_UM_ERRO_2 }}</span>
      </div>
    }
  }
  @if (mensagemSucesso && etapasFinalizadas) {
    <div class="alert alert-success text-center fw-semibold mt-4" role="status" aria-live="polite">
      {{ mensagemSucesso }}
    </div>
  }
</div>
<div modalFooter>
  <siscap-botao
    [propriedades]="botaoFechar"
    (acao)="activeModal.dismiss()"
  ></siscap-botao>
</div>
</siscap-modal>
