<div class="modal-header bg-danger-subtle">
  <h5 class="modal-title">Titulo do modal</h5>
  <button class="btn-close" (click)="confirmModalInstance.dismiss()"></button>
</div>
<div class="modal-body">
  <p>O seguinte dado será excluído. Tem certeza que quer proceder?</p>

  <ng-container *ngFor="let item of modalData.info | keyvalue">
    <p>{{ item.key }}: {{ item.value }}</p>
  </ng-container>
</div>
<div class="modal-footer">
  <button
    class="btn btn-outline-secondary"
    (click)="confirmModalInstance.dismiss()"
  >
    Cancelar
  </button>
  <button class="btn btn-danger" (click)="confirmModalInstance.close(true)">
    Deletar
  </button>
</div>
