<div class="h-100" *ngIf="loading">
  <loading-spinner></loading-spinner>
</div>

<div class="row py-2" *ngIf="!loading">
  <siscap-table-search
    (filtroPesquisaOutput)="filtroPesquisaOutputEvent($event)"
  ></siscap-table-search>
</div>

<div class="card shadow border-light p-3" *ngIf="!loading">
  <ng-container
    *ngIf="(propostasList$ | async)?.length! > 0; else semResultados"
  >
    <siscap-propostas-list
      [propostasList]="propostasList$ | async"
      (sortableDirectiveOutput)="sortableDirectiveOutputEvent($event)"
    >
      <siscap-pagination
        [paginacaoDadosInput]="paginacaoDados"
        (paginacaoOutput)="paginacaoOutputEvent($event)"
      ></siscap-pagination>
    </siscap-propostas-list>
  </ng-container>
</div>

<ng-template #semResultados>
  <query-no-results></query-no-results>
</ng-template>
