.accordion-content {
    padding: 8px 16px; /* espaçamento interno (lados e topo) */
  }
  
  .accordion-content textarea.form-control {
    width: 100%;
    box-sizing: border-box;
    margin-top: 4px;   /* reduz a distância do header */
  }
  