<div class="person-interaction mx-3">
  <div class="search-input col-6 col-sm-4 col-md-2 ms-auto">
    <div class="input-group ms-auto ms-sm-0">
      <input type="text" placeholder="Pesquisar..." class="form-control" />
      <button class="input-group-text px-2" (click)="queryPerson()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <div class="person-datatable">
    <div class="row g-0 mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="profile-image"></th>
                  <th sortable="nome" (sort)="sortTable($event)">Nome</th>
                  <th sortable="email" (sort)="sortTable($event)">Email</th>
                  <th class="action-buttons">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pessoa of pessoasList; index as i">
                  <td>
                    <ng-container
                      *ngIf="
                        pessoa.imagemPerfil;
                        else standardProfileImageTemplate
                      "
                    >
                      <ng-container
                        *ngTemplateOutlet="
                          profileImageTemplate;
                          context: { imgSrc: pessoa.imagemPerfil }
                        "
                      ></ng-container>
                    </ng-container>
                  </td>
                  <td>{{ pessoa.nome }}</td>
                  <td>{{ pessoa.email }}</td>
                  <td>
                    <table-action-buttons-template
                      [rowData]="pessoaDataInput(pessoa)"
                      (deleteId)="deletePessoa($event)"
                    ></table-action-buttons-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #profileImageTemplate let-imgSrc="imgSrc">
  <img
    [src]="convertByteArraytoImg(imgSrc)"
    alt=""
    class="profile-pic rounded-circle"
  />
</ng-template>

<ng-template #standardProfileImageTemplate>
  <div
    class="profile-pic border rounded-circle d-flex justify-content-center align-items-center"
  >
    <i class="fa-solid fa-user"></i>
  </div>
</ng-template>
