<div class="organization-interaction mx-3">
  <div class="search-input col-6 col-sm-4 col-md-2 ms-auto">
    <div class="input-group ms-auto ms-sm-0">
      <input type="text" placeholder="Pesquisar..." class="form-control" />
      <button class="input-group-text px-2" (click)="queryOrganization()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <div class="organization-datatable">
    <div class="row g-0 mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th class="profile-image"></th>
                  <th sortable="abreviatura" (sort)="sortTable($event)">Sigla</th>
                  <th sortable="nome" (sort)="sortTable($event)">Organizacao</th>
                  <th sortable="nomeTipoOrganizacao" (sort)="sortTable($event)">
                    Tipo
                  </th>
                  <th sortable="telefone" (sort)="sortTable($event)">Telefone</th>
                  <th sortable="site" (sort)="sortTable($event)">Site</th>
                  <th class="action-buttons">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let organizacao of organizacoesList; index as i">
                  <td>
                    <ng-container
                      *ngIf="
                        organizacao.imagemPerfil;
                        else standardProfileImageTemplate
                      "
                    >
                      <ng-container
                        *ngTemplateOutlet="
                          profileImageTemplate;
                          context: { imgSrc: organizacao.imagemPerfil }
                        "
                      ></ng-container>
                    </ng-container>
                  </td>

                  <td>{{ organizacao.abreviatura }}</td>
                  <td>{{ organizacao.nome }}</td>
                  <td>{{ organizacao.nomeTipoOrganizacao }}</td>
                  <td>{{ organizacao.telefone }}</td>
                  <td>
                    <a [href]="organizacao.site" target="_blank"
                      >{{ organizacao.site }}
                    </a>
                  </td>

                  <td>
                    <table-action-buttons-template
                      [rowData]="organizacaoDataInput(organizacao)"
                      (deleteId)="deleteOrganizacao($event)"
                    ></table-action-buttons-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #profileImageTemplate let-imgSrc="imgSrc">
  <img
    [src]="convertByteArraytoImg(imgSrc)"
    alt=""
    class="profile-pic rounded-circle"
  />
</ng-template>

<ng-template #standardProfileImageTemplate>
  <div
    class="profile-pic border rounded-circle d-flex justify-content-center align-items-center"
  >
    <i class="fa-solid fa-user"></i>
  </div>
</ng-template>
