.imagemPerfil-col {
  width: 2%;
}

.nomeFantasia-col {
  width: 4%;
}

.nome-col {
  width: 24%;
}

.nomeTipoOrganizacao-col {
  width: 24%;
}

.telefone-col {
  width: 24%;
}

.site-col {
  width: 24%;
}
