<div class="card shadow border-light p-3">
  <app-crud [datatableConfig]="datatableConfig" (editEvent)="redirectOrganizationForm($event)"   (deleteEvent)="deletarOrganizacao($event)" ></app-crud>
</div>

<ng-template #profileImageTemplate let-imgSrc="imgSrc">
  <img
    [src]="convertByteArraytoImg(imgSrc)"
    alt=""
    class="profile-pic rounded-circle"
  />
</ng-template>

<ng-template #standardProfileImageTemplate>
  <div
    class="profile-pic border rounded-circle d-flex justify-content-center align-items-center"
  >
    <i class="fa-solid fa-user"></i>
  </div>
</ng-template>
