<!-- <div class="organization-interaction mx-3">
  <div class="search-input col-6 col-sm-4 col-md-2 ms-auto">
    <div class="input-group ms-auto ms-sm-0">
      <input type="text" placeholder="Pesquisar..." class="form-control" />
      <button class="input-group-text px-2" (click)="queryOrganization()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <div class="organization-datatable">
    <div class="row g-0 mt-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th class="imagemPerfil-col"></th>
                    <th
                      class="abreviatura-col"
                      sortable="abreviatura"
                      (sort)="sortTable($event)"
                    >
                      Sigla
                    </th>
                    <th
                      class="nome-col"
                      sortable="nome"
                      (sort)="sortTable($event)"
                    >
                      Organizacao
                    </th>
                    <th
                      class="nomeTipoOrganizacao-col"
                      sortable="nomeTipoOrganizacao"
                      (sort)="sortTable($event)"
                    >
                      Tipo
                    </th>
                    <th
                      class="telefone-col"
                      sortable="telefone"
                      (sort)="sortTable($event)"
                    >
                      Telefone
                    </th>
                    <th
                      class="site-col"
                      sortable="site"
                      (sort)="sortTable($event)"
                    >
                      Site
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let organizacao of organizacoesList; index as i"
                    ngbTooltip="Clique para executar ações"
                    container="body"
                    placement="bottom"
                    [positionTarget]="tooltipTarget"
                    (click)="redirectOrganizationForm(organizacao)"
                  >
                    <td #tooltipTarget>
                      <ng-container
                        *ngIf="
                          organizacao.imagemPerfil;
                          else standardProfileImageTemplate
                        "
                      >
                        <ng-container
                          *ngTemplateOutlet="
                            profileImageTemplate;
                            context: { imgSrc: organizacao.imagemPerfil }
                          "
                        ></ng-container>
                      </ng-container>
                    </td>

                    <td class="target-col">{{ organizacao.abreviatura }}</td>
                    <td>{{ organizacao.nome }}</td>
                    <td>{{ organizacao.nomeTipoOrganizacao }}</td>
                    <td>{{ organizacao.telefone }}</td>
                    <td>
                      <a [href]="organizacao.site" target="_blank"
                        >{{ organizacao.site }}
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="card shadow border-light p-3">
  <!-- <app-crud [datatableConfig]="datatableConfig" route="/apps/users"></app-crud> -->
  <app-crud [datatableConfig]="datatableConfig"  (deleteEvent)="deletarOrganizacao($event)" ></app-crud>
</div>

<ng-template #profileImageTemplate let-imgSrc="imgSrc">
  <img
    [src]="convertByteArraytoImg(imgSrc)"
    alt=""
    class="profile-pic rounded-circle"
  />
</ng-template>

<ng-template #standardProfileImageTemplate>
  <div
    class="profile-pic border rounded-circle d-flex justify-content-center align-items-center"
  >
    <i class="fa-solid fa-user"></i>
  </div>
</ng-template>
