<div class="mx-3">
  <div id="header" class="row mb-2 flex-nowrap">
    <div class="col-2 id-col ms-4">
      <span class="fs-small-4">Carta Consulta</span>
    </div>
    <div class="col-2 operacao-col">
      <span class="fs-small-4">Operação</span>
    </div>
    <div class="col-6"><span class="fs-small-4">Objeto</span></div>
    <div class="col-1"><span class="fs-small-4">Data</span></div>
    <div class="col-1 acoes-col">
      <span class="fs-small-4">Ações</span>
    </div>
  </div>
  <ng-container *ngFor="let cartaConsulta of cartasConsultaList()">
    <div
      class="row border-top border-bottom flex-nowrap align-items-center mb-3 py-2"
      (click)="visualizarCartaConsulta(cartaConsulta.id)"
    >
      <div class="col-2 id-col ms-4">
        <span
          class="fs-small-3 text-primary text-decoration-underline pointer"
          >{{ preencherIdAteQuatroDigitos(cartaConsulta.id) }}</span
        >
      </div>
      <div class="col-2 operacao-col">
        <span class="fs-small-3 fw-semibold">{{
          cartaConsulta.nomeTipoOperacao
        }}</span>
      </div>
      <div class="col-6">
        <span class="fs-small-3 fw-semibold">{{
          cartaConsulta.nomeObjeto
        }}</span>
      </div>
      <div class="col-1">
        <span class="fs-small-3 fw-semibold text-nowrap">{{
          cartaConsulta.data
        }}</span>
      </div>
      <div class="col-1 acoes-col" (click)="$event.stopPropagation()">
        <table-actions-dropdown
          [tableActionInput]="cartaConsulta.id"
          (tableActionOutput)="tableActionOutputEvent($event)"
        >
          <button
            class="dropdown-item"
            (click)="visualizarCartaConsulta(cartaConsulta.id)"
          >
            <i class="fa-regular fa-clipboard me-2"></i>
            <span>Visualizar</span>
          </button>
        </table-actions-dropdown>
      </div>
    </div>
  </ng-container>
</div>
<div class="mt-3 ms-4">
  <ng-content select="siscap-pagination"></ng-content>
</div>
