<div class="mx-3">
  <div id="header" class="row mb-2">
    <div class="col-2 id-col ms-4">
      <span class="fs-small-4">Carta Consulta</span>
    </div>
    <div class="col-2 operacao-col">
      <span class="fs-small-4">Operação</span>
    </div>
    <div class="col-6"><span class="fs-small-4">Objeto</span></div>
    <div class="col-1"><span class="fs-small-4">Data</span></div>
    <div class="col-1 acoes-col">
      <span class="fs-small-4">Ações</span>
    </div>
  </div>
  <ng-container *ngFor="let cartaConsulta of cartasConsultaList()">
    <div
      class="row border-top border-bottom d-flex align-items-center mb-3 py-2"
    >
      <div class="col-2 id-col ms-4">
        <span class="fs-small-3 text-primary text-decoration-underline">{{
          preencherIdAteQuatroDigitos(cartaConsulta.id)
        }}</span>
      </div>
      <div class="col-2 operacao-col">
        <span class="fs-small-3 fw-semibold">{{
          cartaConsulta.nomeTipoOperacao
        }}</span>
      </div>
      <div class="col-6">
        <span class="fs-small-3 fw-semibold">{{
          cartaConsulta.nomeObjeto
        }}</span>
      </div>
      <div class="col-1">
        <span class="fs-small-3 fw-semibold">{{ cartaConsulta.data }}</span>
      </div>
      <div class="col-1 acoes-col">
        <table-actions-dropdown
          [tableActionInput]="cartaConsulta.id"
          (tableActionOutput)="tableActionOutputEvent($event)"
        ></table-actions-dropdown>
      </div>
    </div>
  </ng-container>
</div>
