@if (loading) {
  <div class="h-100">
    <loading-spinner></loading-spinner>
  </div>
} @else {
  <div class="d-flex justify-content-end align-items-center mb-3">
    @if (mostrarBotaoBaixarPrograma) {
      <button class="btn btn-outline-primary icon-text-btn" (click)="exportarPrograma()">
        <i class="fa-solid fa-file-arrow-down"></i>
        <span>Baixar Programa</span>
      </button>
    }
  </div>
  
  <div class="programa-form justify-content-end">
    <p-timeline *ngIf="statusSteps" [value]="statusSteps" align="right">
      <ng-template pTemplate="content" let-step>
        <span class="text-nowrap" >
              {{step.label}}
        </span>
        
      </ng-template>
      <ng-template pTemplate="marker" let-step>
        <span [style.borderColor]="getColor(step)"
            [pTooltip]="tooltipContent"
            [tooltipDisabled]="step.isInativo()"
            tooltipPosition="right">
          <i [ngClass]="getIcon(step)" [style.color]="getColor(step) "></i>
        </span>

        <ng-template #tooltipContent>
            <p class="my-0">Desde: {{step.dataInicio | date : 'dd/MM/yyyy HH:mm'}}</p>
            <ng-container *ngIf="step.isFinalizado()">
              <p class="my-0">Até: {{step.dataFim | date : 'dd/MM/yyyy HH:mm'}}</p>
              <p class="my-0">Por: {{step.nomePessoa}}</p>
            </ng-container>
        </ng-template>
      </ng-template>
    </p-timeline>
    <div class="card col-12">
      <div class="card-body">
        <form [formGroup]="programaForm">
          <div class="row gy-2">
            <div class="col-12 col-md-4">
              <label for="sigla" class="col-12 form-label">
                <validation-message [control]="getControl('sigla')">
                  Sigla do Programa
                </validation-message>
              </label>
              <input
                class="form-control"
                mask=""
                id="sigla"
                type="text"
                formControlName="sigla"
                maxlength="12"
                [ngClass]="{ 'input-readonly': !isProgramaAtualEditavel }"
                [readonly]="!isProgramaAtualEditavel"
                [inputTransformFn]="toUppercaseInputTransformFn"
                [outputTransformFn]="toUppercaseOutputTransformFn"
              />
            </div>
            <div class="col-12 col-md-8">
              <label for="titulo" class="col-12 form-label">
                <validation-message [control]="getControl('titulo')">
                  Titulo do Programa
                </validation-message>
              </label>
              <input
                id="titulo"
                type="text"
                class="form-control"
                formControlName="titulo"
                maxlength="150"
                [ngClass]="{ 'input-readonly': !isProgramaAtualEditavel }"
                [readonly]="!isProgramaAtualEditavel"
              />
            </div>
  
            <div class="col-12">
              <label for="orgaosEnvolvidos" class="col-12 form-label">
                <validation-message [control]="getControl('orgaosEnvolvidosList')">
                  Orgãos Envolvidos
                </validation-message>
              </label>
              <ng-select
                id="orgaosEnvolvidos"
                name="orgaosEnvolvidos"
                placeholder="-- Selecione os orgãos executores do programa --"
                formControlName="orgaosEnvolvidosList"
                [readonly]="!isProgramaAtualEditavel"
                [multiple]="true"
                [hideSelected]="true"
              >
                @for (organizacao of organizacoesOpcoes; track organizacao) {
                  <ng-option [value]="organizacao.id">
                    {{ organizacao.nome }}
                  </ng-option>
                }
              </ng-select>
            </div>
            <div class="col-12 mt-2">
              <siscap-orgaos-papeis-form
                [orgaosSelecionados]="orgaosSelecionados"
                [isModoEdicao]="isProgramaAtualEditavel"
                (orgaoRemovido)="handleSelecaoOrgaoRemovido($event)"
                (selecaoOrgaos)="handlePapeisOrgaosSelecionados($event)"
              >
              </siscap-orgaos-papeis-form>
            </div>
  
            <div class="col-12">
              <label for="membroEquipeCaptacao" class="col-12 form-label">
                <validation-message [control]="getControl('equipeCaptacao')">
                  Equipe de Captação
                </validation-message>
              </label>
  
              <div class="input-group">
                <input
                  class="form-control"
                  id="nomeagente"
                  type="text"
                  placeholder="Digite o nome"
                  formControlName="nomeagente"
                  maxLength="150"
                  [ngClass]="{ 'input-readonly': !isProgramaAtualEditavel }"
                  [readonly]="!isProgramaAtualEditavel"
                  (keyup.enter)="buscarAgentesPorTermo()"
                  (click)="exibirLista = false"
                />
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  [disabled]="isLoadingPessoasFiltroTermo || !isProgramaAtualEditavel"
                  (click)="buscarAgentesPorTermo()"
                >
                  @if (isLoadingPessoasFiltroTermo) {
                    <span class="icon-container">
                      <span class="spinner-border spinner-border-sm"></span>
                    </span>
                  } @else {
                    <span class="icon-container">
                      <i class="fas fa-search"></i>
                    </span>
                  }
                </button>
              </div>
  
              @if (exibirLista && pessoasOpcoesGoves.length > 0) {
                <div class="card resultados-container" style="max-height: 300px; margin-top: 6px; margin-bottom: 6px;">
                  <div class="card-body p-0">
                    <ul class="list-group list-group-flush lista-rolavel" style="max-height: 300px; overflow-y: auto;">
                      @for (agente of pessoasOpcoesGoves; track agente) {
                        <li
                          class="list-group-item list-group-item-action cursor-pointer"
                          (click)="idMembroNgSelectChangeEvent(agente)"
                        >
                          <div class="d-flex flex-column">
                            <span>{{ agente.nome }}</span>
                            <small class="text-muted">{{ agente.papelPrioritario }}</small>
                          </div>
                        </li>
                      }
                    </ul>
                  </div>
                </div>
              }
            </div>
            <div class="col-12 mt-2">
              <siscap-equipe-form
                [tiposPapelOpcoes]="tiposPapelOpcoesVisiveis"
                [isModoEdicao]="isProgramaAtualEditavel"
                [pessoasOpcoesGoves]="pessoasOpcoesGoves"
              >
              </siscap-equipe-form>
            </div>
  
            <div class="col-12">
              <label for="idProjetoProposto" class="col-12 form-label">
                <validation-message [control]="getControl('idProjetoPropostoList')">
                  Documento Inicial de Captação
                  <form-helper-tooltip [texto]="projetoTooltip['dicelegivel']"></form-helper-tooltip>
                </validation-message>
              </label>
  
              <ng-select
                id="idProjetoProposto"
                name="idProjetoProposto"
                placeholder="-- Selecione um DIC para incluir no programa --"
                bindValue="nome"
                [disabled]="!isProgramaAtualEditavel"
                [(ngModel)]="idProjetoProposto"
                [ngModelOptions]="{ standalone: true }"
                (change)="idProjetoPropostoNgSelectChangeEvent($event)"
              >
                @for (projetoPropostoOpcao of filtrarOpcoesProjetosPropostos(projetosPropostosOpcoes); track projetoPropostoOpcao) {
                  <ng-option [value]="projetoPropostoOpcao">
                    {{ projetoPropostoOpcao.nome }}
                  </ng-option>
                }
              </ng-select>
            </div>
  
            <div class="col-12 my-2">
              @if (idProjetoPropostoList.value.length > 0) {
                <div class="card">
                  <div class="card-body row gy-2 mb-0">
                    @for (idProjetoProposto of idProjetoPropostoList.value; track idProjetoProposto; let i = $index) {
                      <div class="col-12 col-sm-6">
                        <div class="card">
                          <div class="card-body p-2 col-12 d-flex flex-wrap flex-lg-nowrap justify-content-between align-items-center">
                            <div class="col-12 col-lg-5 pb-2 pb-lg-0 text-truncate" #projetoPropostoNomeTarget>
                              <span
                                class="nome-projeto-proposto"
                                placement="bottom"
                                [positionTarget]="projetoPropostoNomeTarget"
                                [ngbTooltip]="getProjetoPropostoOpcao(idProjetoProposto).nome"
                              >
                                {{ getProjetoPropostoOpcao(idProjetoProposto).nome }}
                              </span>
                            </div>
                            <div class="col-12 col-md-5 d-inline-flex justify-content-center justify-content-md-start align-items-center">
                              <span>
                                {{ getProjetoPropostoOpcao(idProjetoProposto).valorEstimado
                                  | mask
                                  : "separator.2"
                                  : { prefix: "R$ ", leadZero: true, thousandSeparator: ".", decimalMarker: "," }
                                }}
                              </span>
                            </div>
                            <div class="col-12 col-md-2 col-lg-1 pt-2 pt-md-0 d-inline-flex justify-content-center justify-content-md-start align-items-center">
                              <button
                                class="btn btn-outline-danger rounded-circle"
                                type="button"
                                ngbTooltip="Remover Projeto do Programa"
                                [disabled]="!isProgramaAtualEditavel"
                                (click)="removerProjetoPropostoDoPrograma(i)"
                              >
                                <i class="fa-solid fa-close delete-btn-icon"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
  
            <div class="col-12">
              <siscap-valor-form [moedasList]="moedasList" [tiposValorOpcoes]="tiposValorOpcoes" [contextoValor]="'PROGRAMA'" ></siscap-valor-form>
            </div>
  
            <div class="col-12 col-md-4 col-lg-2">
              <label for="percentual-custo-administrativo" class="col-12 form-label">
                % Custos Administrativos
              </label>
              <input
                class="form-control"
                type="text"
                id="percentual-custo-administrativo"
                formControlName="percentualCustoAdministrativo"
                mask="separator.2"
                min="1"
                thousandSeparator="."
                decimalMarker=","
                [ngClass]="{ 'input-readonly': !isProgramaAtualEditavel }"
                [inputTransformFn]="rtlCurrencyInputTransformFn"
                [outputTransformFn]="rtlCurrencyOutputTransformFn"
                [readonly]="!isProgramaAtualEditavel"
                (blur)="percentualCustoAdministrativoChangeEvent($event)"
              />
            </div>
  
            <div id="valor-col" class="col-12 col-md-4 col-lg-7">
              <label for="valor-total-calculado-programa" class="col-12 form-label">
                Valor Total Estimado
              </label>
              <input
                class="form-control input-readonly"
                type="text"
                id="valor-total-calculado-programa"
                formControlName="valorCalculadoTotal"
                mask="separator.2"
                min="1"
                thousandSeparator="."
                decimalMarker=","
                readonly
                [inputTransformFn]="rtlCurrencyInputTransformFn"
                [outputTransformFn]="rtlCurrencyOutputTransformFn"
                [prefix]="getSimboloMoeda(valorService.valorFormGroup.controls.moeda.value)"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
}