/* You can add global styles to this file, and also import other style files */

/* Imports globais  */

/* ng-select */
@import "@ng-select/ng-select/themes/default.theme.css";

/* ngx-datatable tema bootstrap, ícones*/
@import "../node_modules/@swimlane/ngx-datatable/themes/bootstrap.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";

.pointer {
  cursor: pointer;
}


/* Fix do comportamento do dropdown de ações do ngx-datatable */
.datatable-body-cell {
  overflow: visible !important;
}

/* Resgatar as Media Queries abaixo para os componentes quando necessário */

/* Entre  os breakpoints Small e Medium*/
@media (min-width: 577px) and (max-width: 768px) {
}

/* Breakpoint Small */
@media (max-width: 576px) {
}

.test {
  border: 1px solid black;
}
