/* You can add global styles to this file, and also import other style files */

/* Imports globais  */

/* ng-select */
@import "@ng-select/ng-select/themes/default.theme.css";

/* ngx-datatable tema bootstrap, ícones*/
@import "../node_modules/@swimlane/ngx-datatable/themes/bootstrap.css";
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";

/* Workaround para override da cor dos botões */
/* .btn-primary {
  color: #fff;
  &:hover {
    color: #fff;
  }
} */

/* Estilos de card (background dos forms/tables */
.card {
  border: none;
}

.card-body {
  background-color: #f2f2f266;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

/* Estilo link (tag <a>) para elementos */
.pointer {
  cursor: pointer;
}

/* Fix do comportamento do dropdown de ações do ngx-datatable */
.datatable-body-cell {
  overflow: visible !important;
}

/* Resgatar as Media Queries abaixo para os componentes quando necessário */

/* Entre  os breakpoints Small e Medium*/
@media (min-width: 577px) and (max-width: 768px) {
}

/* Breakpoint Small */
@media (max-width: 576px) {
}

/* Classe de teste */
.test {
  border: 1px solid black;
}

/* Azul: #107FCF */
/* Cinza: #AAAAAA  */