/* You can add global styles to this file, and also import other style files */

/* Imports globais  */

/* ng-select */
@import "@ng-select/ng-select/themes/default.theme.css";

/* Estilos de formulários */

label {
  color: rgba(var(--bs-body-color-rgb), 0.65);
  font-size: 0.85rem;
}

/* Estilos de validação de formulários (controle inválido)*/

/* Texto de erro */

span.error-message {
  color: var(--bs-form-invalid-border-color);
}

/* Elementos comuns */

.ng-invalid.ng-touched:not(:focus) {
  border-color: var(--bs-form-invalid-border-color);
}

/* ng-select */

.ng-select.ng-touched.ng-invalid:not(.ng-select-focused) .ng-select-container {
  border-color: var(--bs-form-invalid-border-color);
}

/* Estilos de visualização de formulários (controle desabilitado) */

/* ng-select */

.ng-select.ng-select-disabled .ng-select-container {
  background-color: #e9ecef;
}

/* Estilos de imagem dos componentes de formulário */

/* Icone de usuário do font-awesome*/

i.fa-user {
  color: #c2c2c2;
}

/* Coluna de preview de imagem */

.photo-upload {
  height: 80px;
  width: 80px;
}

.uploaded-photo {
  height: 100%;
  width: 100%;
}

/* Coluna de exibição da imagem das tabelas */

.profile-pic {
  height: 30px;
  width: 30px;
}

/* Estilos de card (background dos forms/tables) */
.card {
  border: none;
  margin-bottom: 1rem;
}

.card-body {
  background-color: #f2f2f266;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

/* Classes de estilo do PrimeNG */
/*Table*/
.p-datatable-thead th {
  font-weight: normal;
}

.p-datatable-tbody td {
  vertical-align: middle;
}

/* Estilo link (tag <a>) para elementos */
.pointer {
  cursor: pointer;
}

/* Resgatar as Media Queries abaixo para os componentes quando necessário */

/* Entre  os breakpoints Small e Medium*/
@media (min-width: 577px) and (max-width: 768px) {
}

/* Breakpoint Small */
@media (max-width: 576px) {
}

/* Classe de teste */
.test {
  border: 1px solid black;
}

/* Azul: #107FCF */
/* Cinza: #AAAAAA  */


/* 
Cores da bandeira:
Azul: #64b6f4ff
*/