/* You can add global styles to this file, and also import other style files */

/* Imports globais  */

/* Overrride Bootstrap */
@import "./assets/styles/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss"; // É necessário importar novamente para que as mudanças tenham impacto

/* ng-select */
@import "@ng-select/ng-select/themes/default.theme.css";

/* Estilos do siscap-navmenu*/

.menu-items {
  ul {
    list-style-type: none;

    span {
      font-size: $small-4-font-size;
      text-transform: uppercase;
      color: white;
    }

    li {
      background-color: shade-color($primary, 18%);

      &:hover {
        background-color: shade-color($primary, 33%);
      }

      &:active {
        background-color: tint-color($primary, 33%);
      }

      a {
        font-size: $small-3-font-size;
        text-decoration: none;
        text-transform: uppercase;
        color: white;

        &:active {
          color: black;
        }
      }
    }
  }
}

/* Estilos do siscap-breadcrumb */

.home-button {
  margin-right: 5px;

  button {
    padding: 0.5rem;
  }
}

.breadcrumb-title-area {
  h4 {
    font-size: $large-2-font-size;
    color: $primary;
    margin: 0;
  }

  ul {
    margin: 0;

    li a {
      font-size: $small-3-font-size;
    }
  }
}

.nav-icons {
  button {
    color: white;
    font-size: $small-3-font-size;
  }
}

/* Estilos de Tabela */

th,
td {
  border-bottom: 1px solid black;
}

th {
  font-size: $small-4-font-size;
  font-weight: normal;

  &.asc::after {
    content: url(./assets/icons/caret-up-solid.svg);
    display: inline-block;
    vertical-align: text-top;
    height: 10px;
    width: 10px;
    margin-left: 5px;
  }

  &.desc::after {
    content: url(./assets/icons/caret-down-solid.svg);
    display: inline-block;
    vertical-align: text-top;
    height: 10px;
    width: 10px;
    margin-left: 5px;
  }

  &.profile-image {
    width: 5%;
  }

  &.action-buttons {
    width: 5%;
  }
}

td {
  font-size: $small-3-font-size;
  vertical-align: middle;
}

/* Estilos de formulários */

.row {
  margin-bottom: 0.6rem;
}

label {
  font-size: $small-3-font-size;
}

/* Estilos de validação de formulários (controle inválido)*/

/* Texto de erro */

span.error-message {
  color: $invalid;
}

/* Elementos comuns */

.ng-invalid.ng-touched:not(:focus) {
  border-color: $invalid;
}

/* ng-select */

.ng-select.ng-touched.ng-invalid:not(.ng-select-focused) .ng-select-container {
  border-color: $invalid;
}

/* Estilos de visualização de formulários (controle desabilitado) */

/* ng-select */

.ng-select.ng-select-disabled .ng-select-container {
  background-color: $disabled;
}

/* Estilos de imagem dos componentes de formulário */

/* Icone de usuário do font-awesome*/

i.fa-user {
  color: #c2c2c2;
}

/* Coluna de preview de imagem */

.photo-upload {
  height: 80px;
  width: 80px;
}

.uploaded-photo {
  height: 100%;
  width: 100%;
}

/* Coluna de exibição da imagem das tabelas */

.profile-pic {
  height: 30px;
  width: 30px;
}

/* Estilos de card (background dos forms/tables) */
.card {
  border: none;
  margin-bottom: 1rem;
}

.card-body {
  background-color: #f2f2f266;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

.card-title span {
  font-size: $small-4-font-size;
  font-weight: bold;
}

/* Estilo link (tag <a>) para elementos */
.pointer {
  cursor: pointer;
}

/* Resgatar as Media Queries abaixo para os componentes quando necessário */

/* Entre  os breakpoints Small e Medium*/
@media (min-width: 577px) and (max-width: 768px) {
}

/* Breakpoint Small */
@media (max-width: 576px) {
}

/* Classe de teste */
.test {
  border: 1px solid black;
}
