/* You can add global styles to this file, and also import other style files */

/* Imports globais  */

/* Overrride Bootstrap */
@import "./assets/styles/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss"; // É necessário importar novamente para que as mudanças tenham impacto

/* ng-select */
@import "@ng-select/ng-select/themes/default.theme.css";

@import "./assets/styles/custom_styles";
@import "./assets/styles/fonts";
@import "./assets/styles/mixins";

@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";

/* Estilo global do componente QuillEditorComponente (ngx-quill) */

quill-editor {
  width: 100%;
  height: 35vh; // ENTENDER QUESTÃO DE ALTURA PADRÃO MELHOR
}

/* Estilo de botões */

button.icon-text-btn {
  & svg,
  span {
    font-size: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

/* Estilos de Tabela */

tbody tr:hover {
  cursor: pointer;

  td {
    background-color: #85beff;
    color: #fff;
  }
}

th,
td {
  border-bottom: 1px solid $table-row-border;
}

th {
  font-size: $small-4-font-size;
  font-weight: normal;

  &[ng-reflect-sortable]::after {
    content: url(./assets/icons/sort-none-solid.svg);
  }

  &.asc::after {
    content: url(./assets/icons/sort-up-solid.svg);
  }

  &.desc::after {
    content: url(./assets/icons/sort-down-solid.svg);
  }

  &::after {
    display: block;
    float: inline-end;
    height: 10px;
    width: 10px;
  }
}

td {
  font-size: $small-3-font-size;
  vertical-align: middle;
}

/* Estilos de formulários */

label {
  font-size: $small-3-font-size;
}

.edit-btn,
.delete-btn {
  &:disabled {
    border: 0;
  }
}

/* Estilos de validação de formulários (controle inválido)*/

/* Texto de erro */

span.error-message {
  color: $invalid;
}

/* Elementos comuns */

.ng-invalid.ng-touched:not(:focus) {
  border-color: $invalid;
}

/* ng-select */

.ng-select.ng-touched.ng-invalid:not(.ng-select-focused) .ng-select-container {
  border-color: $invalid;
}

/* Estilos de visualização de formulários (controle desabilitado) */

/* ng-select */

.ng-select.ng-select-disabled .ng-select-container {
  background-color: $disabled;
}

/* Estilos de imagem dos componentes de formulário */

/* Icone de usuário do font-awesome*/

i.fa-user {
  color: $icon-secondary;
}

/* Coluna de exibição da imagem das tabelas */

.profile-img {
  height: 30px;
  width: 30px;
}

/* Estilo link (tag <a>) para elementos */
.pointer {
  cursor: pointer;
}

/* Resgatar as Media Queries abaixo para os componentes quando necessário */

/* Entre  os breakpoints Small e Medium*/
@media (min-width: 577px) and (max-width: 768px) {
}

/* Breakpoint Small */
@media (max-width: 576px) {
}

/* Classe de teste */
.test {
  border: 1px solid black;
}

/* Classes de fontes */

.fs-small-1 {
  font-size: $small-1-font-size;
}

.fs-small-2 {
  font-size: $small-2-font-size;
}

.fs-small-3 {
  font-size: $small-3-font-size;
}

.fs-small-4 {
  font-size: $small-4-font-size;
}

.fs-small-5 {
  font-size: $small-5-font-size;
}

.fs-large-1 {
  font-size: $large-1-font-size;
}

.fs-large-2 {
  font-size: $large-2-font-size;
}

.fs-large-3 {
  font-size: $large-3-font-size;
}

.fs-large-4 {
  font-size: $large-4-font-size;
}

.fs-tiny {
  font-size: 0.8rem;
}

.fs-r-2 {
  font-size: 1.5rem !important;
}

.separator {
  display: block;
  height: 0;
  border-bottom: 1px solid var(--bs-border-color);
}
.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.icon-default {
  color: var(--bs-primary) !important;
}

.icon-btn {
  font-size: 1.5rem !important;
}

.ki-duotone,
.ki-outline,
.ki-solid {
  line-height: 1;
  font-size: 1rem;
  color: var(--#{$prefix}text-muted);
}

.no_underline {
  text-decoration: none;
}
