<div class="breadcrumb-wrapper bg-light pb-3">
  <div
    class="col-10 col-xl-8 mx-auto d-flex flex-wrap justify-content-between align-items-center"
  >
    <div
      id="current-page-title-breadcrumb"
      class="col-12 col-md-8 d-inline-flex flex-column"
    >
      <h1 class="current-page-title mb-0">{{ paginaAtual.titulo }}</h1>

      <nav>
        <ol class="breadcrumb fw-semibold mb-0">
          <ng-container *ngFor="let breadcrumbItem of listaBreadcrumbItems">
            <li class="breadcrumb-item">
              <a
                [routerLink]="[breadcrumbItem.caminho]"
                class="breadcrumb-link text-decoration-none text-black"
                [ngClass]="{ active: breadcrumbItem == paginaAtual }"
              >
                {{ breadcrumbItem.titulo }}
              </a>
            </li>
          </ng-container>
        </ol>
      </nav>
    </div>

    <div
      id="action-buttons"
      class="col-12 col-md-4 mt-2 mt-md-0 d-inline-flex flex-row-reverse justify-content-end justify-content-md-start align-self-end"
    >
      <ng-container *ngFor="let botaoAcao of listaBotoesAcao">
        <ng-container [ngSwitch]="botaoAcao">
          <ng-container
            *ngSwitchCase="'criar'"
            [ngTemplateOutlet]="botaoCriar"
            [ngTemplateOutletContext]="{ contexto: contextoBotoesAcao }"
          ></ng-container>
          <ng-container
            *ngSwitchCase="'editar'"
            [ngTemplateOutlet]="botaoEditar"
          ></ng-container>
          <ng-container
            *ngSwitchCase="'salvar'"
            [ngTemplateOutlet]="botaoSalvar"
          ></ng-container>
          <ng-container
            *ngSwitchCase="'cancelar'"
            [ngTemplateOutlet]="botaoCancelar"
          ></ng-container>
          <ng-container
            *ngSwitchCase="'prospectar'"
            [ngTemplateOutlet]="botaoProspectar"
          ></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #botaoCriar let-contexto="contexto">
  <button
    class="btn btn-outline-primary icon-text-btn text-nowrap"
    [routerLink]="[contexto, 'criar']"
  >
    <i class="fa-solid fa-plus"></i>
    <span> {{ buscarTextoBotaoCriar(contexto) }} </span>
  </button>
</ng-template>

<ng-template #botaoSalvar>
  <button
    class="btn btn-success icon-text-btn text-nowrap"
    (click)="emitirAcaoBreadcrumb('salvar')"
  >
    <i class="fa-solid fa-save"></i>
    <span>Salvar</span>
  </button>
</ng-template>

<ng-template #botaoCancelar>
  <button
    class="btn btn-outline-danger icon-text-btn text-nowrap"
    (click)="emitirAcaoBreadcrumb('cancelar')"
  >
    <i class="fa-solid fa-close"></i>
    <span>Cancelar</span>
  </button>
</ng-template>

<ng-template #botaoEditar>
  <button
    class="btn btn-primary icon-text-btn text-nowrap"
    (click)="emitirAcaoBreadcrumb('editar')"
  >
    <i class="fa-solid fa-edit"></i>
    <span>Editar</span>
  </button>
</ng-template>

<ng-template #botaoProspectar>
  <button
    class="btn btn-outline-success icon-text-btn text-nowrap"
    (click)="emitirAcaoBreadcrumb('prospectar')"
  >
    <i class="fa-solid fa-paper-plane"></i>
    <span>Prospectar</span>
  </button>
</ng-template>
