<div
  class="bg-light pb-3"
  [ngClass]="{
    'breadcrumb-wrapper': !isProponente,
    'breadcrumb-wrapper-proponente': isProponente
  }"
>
  <div
    class="col-10 col-xl-8 mx-auto d-flex flex-wrap justify-content-between align-items-center"
  >
    <div
      id="current-page-title-breadcrumb"
      class="col-12 col-md-8 d-inline-flex flex-column"
    >
      <h1 class="current-page-title mb-0">
        {{ paginaAtual.titulo }}
        <span
          *ngIf="isProponente && paginaAtual.caminho == 'projetos'"
          class="titulo-projetos-proponente"
        >
          (Documento Inicial de Captação)
        </span>
      </h1>

      <nav [ngClass]="{ invisible: isProponente }">
        <ol class="breadcrumb fw-semibold mb-0">
          <ng-container *ngFor="let itemBreadcrumb of itemsBreadcrumb">
            <li class="breadcrumb-item">
              <a
                [routerLink]="[itemBreadcrumb.caminho]"
                class="breadcrumb-link text-decoration-none text-black"
                [ngClass]="{
                  active: itemBreadcrumb == paginaAtual,
                  'pe-none': loadingService.isProcessando$ | async
                }"
              >
                {{ itemBreadcrumb.titulo }}
              </a>
            </li>
          </ng-container>
        </ol>
      </nav>
    </div>

    <div
      id="action-buttons"
      class="col-12 col-md-4 mt-2 mt-md-0 d-inline-flex flex-row-reverse justify-content-end justify-content-md-start align-self-end"
    >
      <ng-container *ngFor="let propriedades of botoesAcaoPropriedades">
        <siscap-botao
          [propriedades]="propriedades"
          [isDisabled]="loadingService.isProcessando$ | async"
          (acao)="emitirAcaoBreadcrumb($event)"
        ></siscap-botao>
      </ng-container>
    </div>
  </div>
</div>
