button {
  background: none;
  border: none;
  margin: 0;
  padding: 3px;

  &:focus {
    outline: none;
  }
}

.form-warning-tooltip {
  .tooltip-inner {
    max-width: 600px;
    width: fit-content;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .form-warning-tooltip {
    .tooltip-inner {
      max-width: 400px;
    }
  }
}

@media (max-width: 767.98px) {
  .form-warning-tooltip {
    .tooltip-inner {
      max-width: 200px;
    }
  }
}

.pulsating-icon {
  color: #38352f;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}