div.dashboard-info {
  font-size: 3rem;
}

div.card {
  color: white;
  background-image: url("/assets/images/card-background.jpg");
  background-size: cover;
  border-radius: 1rem;
  border-width: 0;

  div.card-body,
  div.card-footer {
    border-width: 0;
    background-color: rgba(30, 34, 39, 0.7);
  }

  div.card-body {
    border-radius: 1rem 1rem 0rem 0rem;
  }

  div.card-footer {
    border-radius: 0rem 0rem 1rem 1rem;
    font-size: 1.3rem;
  }
}
