<div class="card">
  <div class="card-body">
    <div class="col-12 mb-2 d-flex justify-content-between align-items-center">
      <div class="col-3 d-inline-flex flex-row justify-content-between">
        <span class="fs-small-3 align-self-center"
          >Calcular automaticamente por:
        </span>

        <div class="col-4 btn-group">
          <button
            id="calculo-automatico-microrregiao"
            class="btn btn-outline-primary p-1"
            [disabled]="!isModoEdicao"
            (click)="rateioService.calculoAutomaticoPorMicrorregioes()"
          >
            <span class="fs-small-3">Microrregião</span>
          </button>
          <button
            id="calculo-automatico-cidade"
            class="btn btn-outline-primary p-1"
            [disabled]="!isModoEdicao"
            (click)="rateioService.calculoAutomaticoPorCidades()"
          >
            <span class="fs-small-3">Cidade</span>
          </button>
        </div>
      </div>
      <div class="col-3 d-inline-flex flex-row justify-content-between">
        <ng-container
          *ngIf="
            rateioService.quantiaFormControlReferencia;
            else nullQuantiaFormControlValue
          "
        >
          <div class="col-4">
            <span class="fs-small-3 total-percentual">
              {{
                rateioService.totalRateio.percentual
                  | mask : "percent.2" : { suffix: "%", decimalMarker: "." }
              }}
            </span>
          </div>
          <div class="col-8">
            <span class="fs-small-3 total-quantia">
              {{
                rateioService.totalRateio.quantia
                  | mask
                    : "separator.2"
                    : {
                        prefix: rateioService.simboloMoeda + " ",
                        leadZero: true,
                        thousandSeparator: ".",
                        decimalMarker: ","
                      }
              }}
            </span>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="col-12">
      <div ngbAccordion>
        <ng-container *ngFor="let microrregiao of microrregioesSelectList">
          <div
            [ngbAccordionItem]="
              'rateio-microrregiao-accordion-item-' + microrregiao.id
            "
            #rateioMicrorregiaoAccordionItem="ngbAccordionItem"
            [destroyOnHide]="false"
          >
            <div ngbAccordionHeader>
              <rateio-microrregiao-form-card
                [microrregiao]="microrregiao"
                [isModoEdicao]="isModoEdicao"
                (microrregiaoEditInitCheck)="
                  rateioMicrorregiaoAccordionItem.expand()
                "
              >
                <button
                  ngbAccordionButton
                  class="m-0 p-0 bg-transparent"
                ></button>
              </rateio-microrregiao-form-card>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <ng-container
                      *ngFor="
                        let cidade of filtrarCidadesPorMicrorregiao(
                          microrregiao.id
                        )
                      "
                    >
                      <rateio-cidade-form-card
                        [cidade]="cidade"
                        [isModoEdicao]="isModoEdicao"
                      ></rateio-cidade-form-card>
                    </ng-container>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #nullQuantiaFormControlValue>
  <div id="nullQuantiaFormControlValueCol" class="col-12 text-center">
    <span class="fs-small-3 text-danger">Sem Valor Estimado</span>
  </div>
</ng-template>
